<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송정보입력</title>
    <link rel="stylesheet" href="../../../../assets/css/header.css">
    <link rel="stylesheet" href="../../../../assets/css/delivery.css">
</head>
<body>
    
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../../assets/image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
                <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href="../mypage_buy/buylist.html"><img src="../../../../assets/image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href="../mypage_buy/alarm.html"><img src="../../../../assets/image/bell_2.png" ></a></div>
              <div><a href="../mypage_buy/cart.html"><img src="../../../../assets/image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->
            <div class="middle">
                <div class="side_menu">
                    <div class="side_menu_mypage">
                        <span>마이페이지</span>
                    </div>
                    <ul id="side_menu_delivery">
                        <li><span class="menu">배송판매관리</span></li>
                        <li><a href="./예약판매자2_마이페이지_사업자계정1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
                        <li><a href="./배송판매자_마이페이지_상품관리.html"><span class="menu">상품관리</span><span class="arrow">></span></a></li>
                        <li><a href="./배송판매자_마이페이지_배송관리.html"><span class="menu">배송관리</span><span class="arrow">></span></a></li>
                        <li class="side_menu_last"><a href="./배송판매자_마이페이지_수익관리.html"><span class="menu">수익관리</span><span class="arrow">></span></a></li>
                    </ul>
                    <ul id="side_menu_user">
                        <li><a href="../mypage_buy/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/info_update.html"><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
                        <li class="side_menu_last"><a href=""><span class="menu">판매관리
                        </span></a></li>
                    </ul>
                </div><!--//side_menu//-->


                <div class="content_product">
                    <div class="content_delevery_product_header">
                        <div id=""> 
                            배송관리
                        </div>    
                        <div class="content_delevery_select_box">
                            <select>
                                <option selected>배송상태</option>
                                <option>결제완료</option>
                                <option>배송중</option>
                                <option>배송완료</option>
                            </select>
                        </div>
                    </div>  <!--//content_delevery_product_header//-->      
                    <div class="content_delevery_num">
                        주문번호 135648654123   
                    </div>                       
                    <div class="content_delevery_num_line">
                    </div>   
                    <div class="delivery_info">
                        <div class="deleverymanage_list">
                            <div class="delevery_product_content">
                                <div class="delevery_product_content_img">
                                    <img src="../../../../assets/image/글러브.jpg">
                                </div>
                                <div class="deleverymanage_list1">
                                    <table class="delevery_product_detail_title">
                                        <colgroup>
                                            <col style="width: 200px">
                                            <col style="width: 600px">
                                        </colgroup>
                                        <tr>
                                            <td>상품명</td>
                                            <td>[에버레스트] 글러브</td>
                                        </tr>
                                        <tr>
                                            <td>상품품번</td>
                                            <td>gl12456874</td>
                                        </tr>
                                        <tr>
                                            <td> 색상사이즈/수량
                                                <!--if 색상사이즈 글자수 초과, br추가--> </td>
                                            <td>블랙 / 2</td>
                                        </tr>
                                        <tr>
                                            <td>카테고리</td>
                                            <td>운동용품</td>
                                        </tr>
                                        <tr>
                                            <td>가격</td>
                                            <td>38,000원 </td>
                                        </tr>
                                        <tr>
                                            <td>판매일자</td>
                                            <td>2020/03/01</td>
                                        </tr>                                
                                    </table>
                                </div><!--//deleverymanage_list1-->
                            </div><!--//delevery_product_content-->
                            <div class="delevery_product_content">
                                <div class="delevery_product_content_img">
                                    <img src="../../../../assets/image/복싱복.jpg">
                                </div>
                                <div class="deleverymanage_list1">
                                    <table class="delevery_product_detail_title">
                                        <colgroup>
                                            <col style="width: 200px">
                                            <col style="width: 600px">
                                        </colgroup>
                                        <tr>
                                            <td>상품명</td>
                                            <td>[아디다스] 복싱복</td>
                                        </tr>
                                        <tr>
                                            <td>상품품번</td>
                                            <td>cl12456874</td>
                                        </tr>
                                        <tr>
                                            <td> 색상사이즈/수량
                                                <!--if 색상사이즈 글자수 초과, br추가--> </td>
                                            <td>블루95(M)  / 2</td>
                                        </tr>
                                        <tr>
                                            <td>카테고리</td>
                                            <td>의류</td>
                                        </tr>
                                        <tr>
                                            <td>가격</td>
                                            <td>60,000원</td>
                                        </tr>
                                        <tr>
                                            <td>판매일자</td>
                                            <td>2020/03/01</td>
                                        </tr>                                
                                    </table>
                                </div><!--//deleverymanage_list1-->
                            </div><!--//delevery_product_content-->
                        </div><!--//list//-->
                        <div class="delivery_info_personal">
                            <div class="delivery_info_header">
                                <div class="head">배송정보</div>
                                <div class="content_delevery_num_line"></div>    
                            </div>
                            <div class="delivery_info_content">
                                <div class="delivery_info_content_title">
                                    <div>받는 분</div>
                                    <div>핸드폰</div>
                                    <div>주소</div>
                                </div>
                                <div class="delivery_info_content_title_re">
                                    <div>오늘은 맑음</div>
                                    <div>010-5568-7894</div>
                                    <div>(12345) 서울 강남구 무지개가피었로 123 빨주노초아파트 501호</div>
                                </div>
                            </div>    
                            <div class="head">배송정보입력</div>
                            <div class="content_delevery_num_line"></div>
                                <table class="delivery_info_table">
                                    <colgroup>
                                        <col style="width: 200px">
                                        <col style="width: 600px">
                                    </colgroup>
                                    <tr>
                                        <td><label for="postoff">택배사</label></td>
                                        <td class="content_delevery_num_select_box">
                                            <select id="postoff">
                                                <option selected>택배사선택</option>
                                                <option>CJ대한통운</option>
                                                <option>우체국택배</option>
                                                <option>한진택배</option>
                                                <option>롯데택배</option>
                                                <option>경동택배</option>
                                                <option>일양로지스</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>                   
                                        <td><label for="deliv_num">운송장번호</label></td>
                                        <td><input type="text" id="deliv_num"></td>
                                    </tr>
                                </table>    
                            <div class="delevery_btn">
                                <button class="product_delready_btn">배송준비</button>
                                <button class="product_delinfosave_btn">배송정보저장</button>
                                <button class="product_delclose_btn">이전페이지</button>
                            </div>
                        </div><!--delivery_info_persondelevery_btnal-->
                    </div><!--//delivery_info-->
                </div><!--//content_product//-->
            </div><!--//middle//-->
        </div><!--//container//-->
    </div><!--//wrap//-->

</body>
</html>