<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품관리</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/delivery.css">
</head>
<body>
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href="../../main/index.html"><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
                <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href="../mypage_buy/buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href="../mypage_buy/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
              <div><a href="../mypage_buy/cart.html"><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->
            <div class="middle">
                <div class="side_menu">
                    <div class="side_menu_mypage">
                        <span>마이페이지</span>
                    </div>
                    <ul id="side_menu_delivery">
                        <li class="title"><span class="menu">배송판매관리</span></li>
                        <li><a href="./예약판매자2_마이페이지_사업자계정정보1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
                        <li><a href="./배송판매자_마이페이지_상품관리.html"><span class="menu">상품관리</span><span class="arrow">></span></a></li>
                        <li><a href="./배송판매자_마이페이지_배송관리.html"><span class="menu">배송관리</span><span class="arrow">></span></a></li>
                        <li class="side_menu_last"><a href="./배송판매자_마이페이지_수익관리.html"><span class="menu">수익관리</span><span class="arrow">></span></a></li>
                    </ul>
                    <ul id="side_menu_user">
                        <li><a href="../mypage_buy/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/info_update.html"><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
                        <li class="side_menu_last"><a href="../mypage_buy/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
        
                      </ul>
                      <ul id="side_menu_user">
                        <li class="side_menu_last"><a href="../mypage_resrvation/예약판매자2_마이페이지_사업자계정1.html"><span class="menu">판매관리
                        </span></a></li>
                      </ul>
                    </div>
                
                    <div class="content_product">
                        <div class="content_product_header">
                            <div> 
                                상품관리
                            </div>    
                            <button class="product_registration_btn"><a href="./배송판매자_마이페이지_상품등록.html">상품등록</a></button>
                            <div class="content_product_select_box">
                                <select>
                                    <option selected>최근등록순</option>
                                    <option>판매개수</option>
                                    <option>가격</option>
                                    <option>카테고리-의류</option>
                                    <option>카테고리-잡화</option>
                                    <option>카테고리-운동용품</option>
                                </select>
                            </div>
                        </div>   <!--//content_product_header//-->    
                        
                        <div class="content_product_line">
                        </div>   
                        <div class="content_product_list">
                            <div class="list">
                                <div class="product_name">
                                    [에버레스트] 글러브
                                </div>
                                <div class="list_line"></div>
                                <div class="product_content">
                                    <div>
                                        <img src="../../../image/글러브.jpg">
                                    </div>
                                    <div class="table_box">
                                        <table class="delevery_insert_table">
                                            <colgroup>
                                                <col style="width: 130px">
                                                <col style="width: 500px">
                                            </colgroup>
                                            <tr>
                                                <td>카테고리</td>
                                                <td>의류</td>
                                            </tr>
                                            <tr>
                                                <td>상품품번</td>
                                                <td>gl12456874</td>
                                            </tr>
                                            <tr>
                                                <td>색상|사이즈|재고</td>
                                                <td>
                                                    <div>
                                                        <div>블랙|5</div> 
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>38,000원</td>
                                            </tr>
                                            <tr>
                                                <td>등록일자</td>
                                                <td>2020/03/01</td>
                                            </tr>
                                        </table>
                                        <div class="product_content_btn">
                                            <button class="product_modify_btn"><a href="./배송판매자_마이페이지_상품수정.html">수정하기</a></button>
                                            <button class="product_delete_btn">삭제하기</button> 
                                        </div>
                                    </div><!--//table_box-->             
                                </div>
                            </div><!--//list//-->

                            <!--list 배치확인용 중복중복중복중복-->
                            <div class="list">
                                <div class="product_name">
                                    [아디다스] 복싱복
                                </div>
                                <div class="list_line"></div>
                                <div class="product_content">
                                    <div>
                                        <img src="../../../image/복싱복.jpg">
                                    </div>
                                    <div class="table_box">
                                        <table class="delevery_insert_table">
                                            <colgroup>
                                                <col style="width: 130px">
                                                <col style="width: 500px">
                                            </colgroup>
                                            <tr>
                                                <td>카테고리</td>
                                                <td>의류</td>
                                            </tr>
                                            <tr>
                                                <td>상품품번</td>
                                                <td>cl12456874</td>
                                            </tr>
                                            <tr>
                                                <td>색상|사이즈|재고</td>
                                                <td>
                                                    <div>
                                                        <div>블루|95(M)|5</div> 
                                                        <div>블루|100(L)|13</div> 
                                                        <div>블루|105(LX)|78</div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>가격</td>
                                                <td>60,000원 </td>
                                            </tr>
                                            <tr>
                                                <td>등록일자</td>
                                                <td>2020/03/01</td>
                                            </tr>
                                        </table>
                                        <div class="product_content_btn">
                                            <button class="product_modify_btn">수정하기</button>
                                            <button class="product_delete_btn">삭제하기</button> 
                                        </div>
                                    </div><!--//table_box-->       
                                </div>
                            </div><!--//list//여기까지 중복중복중복중복-->
                        </div>
                    </div><!--//content_product//-->
                </div><!--//middle//-->
        </div><!--//container//-->
    </div><!--//wrap//-->
  
</body>
</html>