<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 관리</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/booking.css">
</head>
<body>
    
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href=""><span>스파링 매치</span></a></li>
                <li id="no2"><a href=""><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href=""><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href=""><img src="../../../image/bell_2.png" ></a></div>
              <div><a href=""><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->

    <div class="middle">
        <div class="side_menu">
            <div class="side_menu_mypage">
              <span>마이페이지</span>
            </div>
            <ul id="side_menu_booking">
              <li class="title"><span class="menu">예약판매관리</span></li>
              <li><a href="./예약판매자3_마이페이지_사업자계정정보1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
              <li><a href="./예약판매자4_마이페이지_체육관관리1.html"><span class="menu">체육관관리</span><span class="arrow">></span></a></li>
              <li><a href="./예약판매자7_마이페이지_예약관리1.html"><span class="menu">대관관리</span><span class="arrow">></span></a></li>
              <li class="side_menu_last"><a href=""><span class="menu">수익관리</span><span class="arrow">></span></a></li>
          </ul>
          <ul id="side_menu_user">
            <li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
            <li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
            <li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
            <li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
            <li class="side_menu_last"><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
          </ul>

        </div>
        <!--//side_menu//-->

        <!--////////////////////////////////////////////-->

        <div class="content_seller">
            <div class="content_booking_header">
              <div> 
                  예약 현황
              </div>    
        </div>  <!--//content_delevery_product_header//-->      
        <div class="content_product_line"></div>

        <!--체육관 정보(불러옴)-->
        <div class="booking_list_elnt">
            <div class="gym_info">
              <div class="gym_image">
                <img name="스파링장" src="../../../image/스파링장.jpeg">
              </div>

              <div class="gym_info_title">
                <div class="gym_info_title_no">체육관이름</div> 
                <br>
                <div class="gym_info_title_no">체육관 주소</div>
              </div>

              <div class="gym_info_detail">
                <div>1111111체육관</div>
                <br>
                <div>00시 00구 00로 00 00빌딩 2층</div>
              </div>

              <div class="gym_info_btn_site">
                <button onclick="location.href='예약판매자5_마이페이지_체육관등록1.html'" class="gym_info_btn" type="button">체육관 정보</button> 
                <button onclick="location.href='예약판매자6_마이페이지_대관등록1.html'" class="gym_info_btn" type="button">대관 등록</button>
              </div>
            </div> <!--//gym_info-->
        </div> <!--//booking_list_elnt (반복영역)-->

        <!--기간 필터-->
        <div class="time_filter">
          <input type="text" placeholder="기간필터">
          ~
          <input type="text" placeholder="기간필터">
          <img name="calender" src="달력아이콘">
        </div>


        <!--예약현황 리스트-->
        <div class="booking_manage">
            <table class="booking_manage_list">
                <thead>
                    <tr>
                        <th>체육관 이름</th>
                        <th>일시/요금</th>
                        <th>상태</th>
                        <th>관리</th>
                    </tr>
                </thead>
                <tbody>
                  <!--반복영역-->
                    <tr>
                        <td>1111111체육관</td>
                        <td>1.11/50,000</td>
                        <td>예약중</td>
                        <td>삭제 및 수정 불가</td>
                    </tr>
                  <!--//반복-->

                    <tr>
                        <td>1111111체육관</td>
                        <td>1.11/50,000</td>
                        <td>예약중</td>
                        <td>삭제 및 수정 불가</td>
                    </tr>
                    <tr>
                      <td>1111111체육관</td>
                      <td>1.11/50,000</td>
                      <td>대기중</td>
                      <td>
                        <button onclick="location.href='예약판매자8_마이페이지_예약수정.html'" class="booking_manage_btn" type="button">수정</button>
                      </td>
                  </tr>
                </tbody>
            </table>
        </div> <!--//booking_manage-->

    </div> <!--//middle-->
  </div><!--//container-->
</div><!--//wrap-->
  
</body>
</html>