<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대관 등록</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/booking.css">
</head>
<body>
    
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href=""><span>스파링 매치</span></a></li>
                <li id="no2"><a href=""><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href=""><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href=""><img src="../../../image/bell_2.png" ></a></div>
              <div><a href=""><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->

    <div class="middle">
        <div class="side_menu">
            <div class="side_menu_mypage">
              <span>마이페이지</span>
            </div>
            <ul id="side_menu_booking">
              <li class="title"><span class="menu">예약판매관리</span></li>
              <li><a href="./예약판매자3_마이페이지_사업자계정정보1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
              <li><a href="./예약판매자4_마이페이지_체육관관리1.html"><span class="menu">체육관관리</span><span class="arrow">></span></a></li>
              <li><a href="./예약판매자7_마이페이지_예약관리1.html"><span class="menu">대관관리</span><span class="arrow">></span></a></li>
              <li class="side_menu_last"><a href=""><span class="menu">수익관리</span><span class="arrow">></span></a></li>
              <ul id="side_menu_user">
                <li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
                <li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
                <li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
                <li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
                <li class="side_menu_last"><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
              </ul>

            </div>
            <!--//side_menu//-->

        <!--////////////////////////////////////////////-->

        <div class="content_seller">
            <div class="content_booking_header">
              <div> 
                  대관 등록
              </div>    
          </div>  <!--//content_delevery_product_header//-->      
        <div class="content_product_line"></div>

  
            <!--체육관 불러오기-->
            <div class="booking_gym_info">
                <table class="booking_gym_table">
                    <tr>
                        <td rowspan="8"><img class="gym_info_img" name="스파링장" src="../../../image/스파링장.jpeg"></td>
                        <td class="gym_info_title gap">체육관 이름</td>
                    </tr>

                    <tr>
                        <td class="gap_info">(불러온 체육관 이름)</td>
                    </tr>

                    <tr>
                        <td class="gym_info_title gap">체육관 주소</td>
                    </tr>

                    <tr>
                        <td class="gap_info">(불러온 체육관 주소)</td>
                    </tr>

                    <tr>
                        <td class="gym_info_title gap">체육관 운영시간</td>
                    </tr>

                    <tr>
                        <td class="gap_info">(불러온 체육관 운영시간)</td>
                    </tr>

                    <tr>
                        <td class="gym_info_title gap">체육관 편의시설</td>
                    </tr>

                    <tr>
                        <td class="gap_info">(불러온 체육관 편의시설)</td>
                    </tr>

                </table>
            </div> <!--//체육관 불러오기-->

            <div class="booking_regi_form"> <!--대관 시간/요금 등록--> <!--체육관 불러오기 오른편으로-->
                <form>
                    <table>
                        <tr class="booking_regi_title">
                            <td colspan="2">체육관 이용시간/대여요금</td>
                        </tr>
                        <tr class="booking_regi_desc">
                            <td colspan="2">날짜&nbsp&nbsp&nbsp&nbsp<input type="text">&nbsp<img class="calender" name="calender" src="./이미지/calendar.png"></td> <!--달력나옴-->
                        </tr>

                        <tr class="booking_regi_desc"> <!--클릭으로 추가됨-->
                            <td>이용시간&nbsp&nbsp
                                <select>
                                    <option>12:00</option>
                                    <option>13:00</option>
                                </select>
                                ~
                                <select>
                                    <option>12:00</option>
                                    <option>13:00</option>
                                </select>                          
                            </td>
                            <td>&nbsp&nbsp&nbsp&nbsp대여요금&nbsp&nbsp<input type="text"></td>
                        </tr>
                    </table>

                    <div><button type="button">추가버튼</button></div> <!--css추가-->

                    <div class="booking_regi_btn_site">
                        <button onclick="location.href='예약판매자7_마이페이지_예약관리1.html'" class="booking_regi_btn" type="button">대관 등록</button>
                    </div>
                </form>
            </div> <!--//대관 시간/요금 등록-->

    

    </div> <!--//middle-->
  </div><!--//container-->
</div><!--//wrap-->
  
</body>
</html>