<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사업자 계정</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/booking.css">
</head>
<body>
    
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href=""><span>스파링 매치</span></a></li>
                <li id="no2"><a href=""><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href=""><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href=""><img src="../../../image/bell_2.png" ></a></div>
              <div><a href=""><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->

    <div class="middle">
      <div class="side_menu">
          <div class="side_menu_mypage">
            <span>마이페이지</span>
          </div>
          <ul id="side_menu_booking">
            <li class="title"><span class="menu">예약판매관리</span></li>
            <li><a href="./예약판매자3_마이페이지_사업자계정정보1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
            <li><a href="./예약판매자4_마이페이지_체육관관리1.html"><span class="menu">체육관관리</span><span class="arrow">></span></a></li>
            <li><a href="./예약판매자7_마이페이지_예약관리1.html"><span class="menu">대관관리</span><span class="arrow">></span></a></li>
            <li class="side_menu_last"><a href=""><span class="menu">수익관리</span><span class="arrow">></span></a></li>
        </ul>
        <ul id="side_menu_user">
          <li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
          <li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
          <li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
          <li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
          <li class="side_menu_last"><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
        </ul>

      </div>
      <!--//side_menu//-->

      <!--////////////////////////////////////////////-->

      <div class="content_seller">
        <div class="content_booking_header">
          <div> 
              사업자계정 관리
          </div>    
      </div>  <!--//content_delevery_product_header//-->      
      <div class="content_product_line"></div>

      <div class="content_seller_regi">
        <div class="seller_regi_title">사업자 정보</div>
        <br>

        <!--입력폼 (추후 form 추가)-->
        <form action="" method="">
          <table class="seller_regi_form">
            <tbody>

              <tr>
                <td class="basic">사업자 이름</td>
                <td><input class="input_con" type="text" name="sellerName" placeholder="이름을 입력해주세요"></td>
              </tr>

              <tr>
                <td class="basic">사업자 번호</td>
                <td><input class="input_con" type="text" name="sellerNo" placeholder="번호를 입력해주세요"></td>
              </tr>

              <tr>
                <td class="basic">사업자 주소</td>
                <td><input class="input_con" type="text" name="sellerAd" placeholder="주소를 입력해주세요"></td>
              </tr>

              <tr>
                <td class="basic">사업자 계좌번호</td>
                <td>     
                  <select>
                    <option>은행 선택</option>
                    <option>국민은행</option>
                    <option>농협</option>
                    <option>카카오뱅크</option>
                  </select>
                  <div class="account_input">
                    <input class="input_con" type="text" name="sellerAcount" placeholder="계좌번호를 입력해주세요">
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
          
          <div class="seller_regi_btn_site">
            <button class="seller_regi_btn" type="button">사업자 정보 수정</button>
          </div>
        </form> <!--입력폼-->
        
      </div> <!--//content_seller_regi-->

      </div> <!--//middle-->
  </div><!--//container-->
</div><!--//wrap-->
  
</body>
</html>
