<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>대관 등록</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/booking.css">
</head>
<body>
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
                <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href="../mypage_buy/buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href="../mypage_buy/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
              <div><a href="../mypage_buy/cart.html"><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->
    
        <div class="middle">
          <div class="side_menu">
              <div class="side_menu_mypage">
                <span>마이페이지</span>
              </div>
              <ul id="side_menu_booking">
                <li><span class="menu">예약판매관리</span></li>
                <li><a href="./예약판매자2_마이페이지_사업자계정1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
                <li><a href="./예약판매자3_마이페이지_체육관관리_리스트1.html"><span class="menu">체육관관리</span><span class="arrow">></span></a></li>
                <li><a href="./예약판매자6_마이페이지_대관관리1.html"><span class="menu">대관관리</span><span class="arrow">></span></a></li>
                <li class="side_menu_last"><a href="./예약판매자8_마이페이지_수익관리1.html"><span class="menu">수익관리</span><span class="arrow">></span></a></li>
            </ul>
            <ul id="side_menu_user">
              <li><a href="../mypage_buy/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/info_update.html"><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
              <li class="side_menu_last"><a href=""><span class="menu">판매관리
                  </span></a></li>
            </ul>
    
          </div><!--//side_menu//-->

        <!--////////////////////////////////////////////-->

        <div class="content_seller">
            <div class="content_booking_header">
              <div> 
                  대관 등록
              </div>    
          </div>  <!--//content_delevery_product_header//-->      
        <div class="content_product_line"></div>

        <div class="booking_regi">
            <!--체육관 불러오기-->
            <div class="booking_gym_info">
                <table>
                    <tr>
                        <td><img class="gym_info_img" name="스파링장" src="../../../image/스파링장.jpeg"></td>
                    </tr>

                    <tr class="gap">
                        <td class="gym_info_title">체육관 이름</td>
                    </tr>
                    <tr class="gap_info">
                        <td>(불러온 체육관 이름)</td>
                    </tr>

                    <tr class="gap">
                        <td class="gym_info_title">체육관 주소</td>
                    </tr>
                    <tr class="gap_info">
                        <td>(불러온 체육관 주소)</td>
                    </tr>

                    <tr class="gap">
                        <td class="gym_info_title">체육관 운영시간</td>
                    </tr>
                    <tr class="gap_info">
                        <td>(불러온 체육관 운영시간)</td>
                    </tr>

                    <tr class="gap">
                        <td class="gym_info_title">체육관 편의시설</td>
                    </tr>
                    <tr class="gap_info">
                        <td>(불러온 체육관 편의시설)</td>
                    </tr>

                </table>
            </div> <!--//체육관 불러오기-->

            <div class="booking_regi_form"> <!--대관 시간/요금 등록--> <!--체육관 불러오기 오른편으로-->
                <form>
                    <table>
                        <tr class="booking_regi_title">
                            <td colspan="2">체육관 이용시간/대여요금</td>
                        </tr>
                        <tr>
                            <td colspan="2">날짜&nbsp&nbsp&nbsp&nbsp<input type="text"><img name="calender" src="달력 아이콘"></td> <!--달력나옴-->
                        </tr>

                        <tr> <!--클릭으로 추가됨-->
                            <td>이용시간&nbsp&nbsp<input type="text"></td>
                            <td>대여요금&nbsp&nbsp<input type="text"></td>
                        </tr>
                    </table>

                    <div><button type="button">추가버튼</button></div> <!--css추가-->

                    <div class="booking_regi_btn_site">
                        <button onclick="location.href='예약판매자6_마이페이지_대관관리1.html'" class="booking_regi_btn" type="button">대관 등록</button>
                    </div>
                </form>
            </div> <!--//대관 시간/요금 등록-->

         </div><!--//booking_regi-->

    </div> <!--//middle-->
  </div><!--//container-->
</div><!--//wrap-->
  
</body>
</html>