<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>체육관 관리</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/booking.css">
</head>
<body> 
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href=""><span>스파링 매치</span></a></li>
                <li id="no2"><a href=""><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href=""><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href=""><img src="../../../image/bell_2.png" ></a></div>
              <div><a href=""><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->

    <div class="middle">
      <div class="side_menu">
          <div class="side_menu_mypage">
            <span>마이페이지</span>
          </div>
          <ul id="side_menu_booking">
            <li class="title"><span class="menu">예약판매관리</span></li>
            <li><a href="./예약판매자3_마이페이지_사업자계정정보1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
            <li><a href="./예약판매자4_마이페이지_체육관관리1.html"><span class="menu">체육관관리</span><span class="arrow">></span></a></li>
            <li><a href="./예약판매자7_마이페이지_예약관리1.html"><span class="menu">대관관리</span><span class="arrow">></span></a></li>
            <li class="side_menu_last"><a href=""><span class="menu">수익관리</span><span class="arrow">></span></a></li>
        </ul>
        <ul id="side_menu_user">
          <li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
          <li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
          <li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
          <li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
          <li class="side_menu_last"><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
        </ul>

      </div>
      <!--//side_menu//-->

      <!--////////////////////////////////////////////-->

      <div class="content_seller">
        <div class="content_booking_header">
          <div> 
              체육관 관리
          </div>    
      </div>  <!--//content_delevery_product_header//-->      
      <div class="content_product_line"></div>

      <div>
        탭부분(여러 체육관이 있을 경우 여기로 구분함)
      </div>

      <!--추후 생길 탭과 같은 라인에 위치-->
      <div class="regi_btn_site">
        <button onclick="location.href='예약판매자5_마이페이지_체육관등록1.html'" class="regi_btn">체육관 등록</button>
      </div>

      <div class="regi_btn_site">
        <button onclick="location.href='예약판매자6_마이페이지_대관등록1.html'" class="regi_btn">대관 등록</button>
      </div>

      <!--체육관 정보-->
      <div class="gym_regi_form">
        <form action="" method="">
            <table>
                <tr>
                    <td class="basic">체육관 이름</td>
                    <td colspan="3"><input class="input_text" type="text"></td>
                </tr>

                <tr>
                    <td class="basic">체육관 주소</td>
                    <td colspan="3"><input class="input_text" type="text"></td>
                </tr>

                <tr>
                    <td class="basic">체육관 전화번호</td>
                    <td colspan="3"><input class="input_text" type="text"></td>
                </tr>

                <tr class="input_plus">
                    <td>체육관 운영시간</td>
                    <td colspan="3"><textarea></textarea></td>
                </tr>

                <tr class="basic_chk">
                  <td>체육관 주 종목</td>
                  <td colspan="3"></td>
                </tr>

                <tr>
                  <td class="basic_chk_padding"><input type="checkbox" name=""> 복싱</td>
                  <td class="basic_chk_padding"><input type="checkbox" name=""> 킥복싱</td>
                  <td class="basic_chk_padding"><input type="checkbox" name=""> 주짓수</td>
                  <td class="basic_chk_padding"><input type="checkbox" name=""> 종합격투기</td>
                </tr>

                <tr class="basic_chk">
                    <td>체육관 편의시설</td>
                    <td colspan="3"></td>
                </tr>

                <tr>
                    <td><input type="checkbox" name=""> 주차장</td>
                    <td><input type="checkbox" name=""> 샤워실</td>
                    <td colspan="2"><input type="checkbox" name=""> 수건</td>
                </tr>

                <tr>
                    <td class="basic_chk_padding"><input  type="checkbox" name=""> 락커</td>
                    <td class="basic_chk_padding"><input  type="checkbox" name=""> 글러브</td>
                    <td class="basic_chk_padding" colspan="2"><input  type="checkbox" name=""> 운동복</td>
                </tr>

                <tr class="input_plus">
                  <td>공지사항</td>
                  <td colspan="3"><textarea></textarea></td>
                </tr>


                <tr>
                    <td class="basic">체육관 사진</td>
                    <td colspan="3"><input type="file"></td>
                </tr>

            </table>

            <div class="gym_regi_btn_site">
              <button onclick="location.href='예약판매자4_마이페이지_체육관관리_리스트1.html'" class="gym_regi_btn" type="button">정보 수정</button>
              <button onclick="location.href='예약판매자4_마이페이지_체육관관리_리스트1.html'" class="gym_regi_btn" type="button">체육관 삭제</button>
            </div>

        </form>
    </div> <!--//gym_regi_form-->

    </div> <!--//middle-->
  </div><!--//container-->
</div><!--//wrap-->
  
</body>
</html>