<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수익 관리</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/delivery.css">
</head>
<body>
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
                <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href="../mypage_buy/buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href="../mypage_buy/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
              <div><a href="../mypage_buy/cart.html"><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->
    
        <div class="middle">
          <div class="side_menu">
              <div class="side_menu_mypage">
                <span>마이페이지</span>
              </div>
              <ul id="side_menu_booking">
                <li><span class="menu">예약판매관리</span></li>
                <li><a href="./예약판매자2_마이페이지_사업자계정1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
                <li><a href="./예약판매자3_마이페이지_체육관관리_리스트1.html"><span class="menu">체육관관리</span><span class="arrow">></span></a></li>
                <li><a href="./예약판매자6_마이페이지_대관관리1.html"><span class="menu">대관관리</span><span class="arrow">></span></a></li>
                <li class="side_menu_last"><a href="./예약판매자8_마이페이지_수익관리1.html"><span class="menu">수익관리</span><span class="arrow">></span></a></li>
            </ul>
            <ul id="side_menu_user">
              <li><a href="../mypage_buy/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/info_update.html"><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
              <li><a href="../mypage_buy/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
              <li class="side_menu_last"><a href=""><span class="menu">판매관리
                  </span></a></li>
            </ul>
    
          </div><!--//side_menu//-->

            <!--////////////////////////////////////////////-->

                <div>
                    <div class="header_explain">
                        <div id="explain_head">
                            수익관리
                        </div>
                        <div id="explain_body">
                            <p><strong>수익금은 월 1회 등록된 출금 계좌로 전월수익금이 자동 출금 처리됩니다.</strong> (영업일기준)<br>
                            (출금계좌 정보는 마이페이지 >사업자계정 페이지에서 확인 및 수정 가능)</p>
                        </div>
                    </div>
                    <div class="profit">
                        <div id="profit_main">
                            <p>출금 예정 수익금 <strong>000,000원</strong></p>
                        </div>
                    </div>
                    <table id="profit_table">
                        <tr>
                            <td colspan="2">총 누적 수익금</td>
                            <td>000,000원</td>
                        </tr>
                        <tr>
                            <td colspan="2">출금 완료 수익금</td>
                            <td>000,000원</td>
                        </tr>
                        <tr>
                            <td rowspan="2">보유 수익금</td>
                            <td>출금 가능 수익금</td>
                            <td>0원</td>
                        </tr>
                        <tr>
                            <td>출금 예정 수익금</td>
                            <td>0원</td>
                        </tr>
                    </table>
                </div>
            </div><!--//middle//-->
        </div><!--//container//-->
    </div><!--//wrap//-->

</body>
</html>