@charset "UTF-8";

.middle {
display: flex;
overflow: hidden;
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content .alarm_header{
    width: 200px;
    height: 30px;
    justify-content: left;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}

.alram_list .test{
    margin-top: 10px;
    margin-bottom: 10px;
}

.middle .alarm_header {
  display: flex;
  flex-direction: row;
  height: 30px;
  font-size: 23px;
  font-weight: bold;
}
  
/*타이틀 리스트 구분줄*/
.line {
  height: 2px;
  width: 800px;
  margin: 35px 0px 5px 0px;
  background-color: black;
}

.alram_list{
  display: flex;
  overflow: hidden; 
  flex-direction: column;
}

.Box_alarm{
  margin: 5px 5px 25px 5px;
  width: 400px;
  border: gray 2px solid;
  border-radius: 10px 0 10px 0;
  padding: 10px;
  word-break: break-all;
  box-shadow: 2px 2px 2px 2px rgba(163, 174, 184, 0.7);
}

.Box_alarm .Addr_goods{
    color: gray;
}

.Box_alarm .Kind_goods{
    color: white;
    background-color: red;
    width: 27px;
    text-align: center;
    margin-bottom: 5px;
}

.Box_alarm span{
    display: block;
}
