@charset "UTF-8";

div{
    display: block;
}

div, th, td, li, dt, dd, p {
    word-break: break-all;
}

label{
    font-size: 16px;
    line-height: 24px;
    cursor: default;
    display: inline-block;
}

input{
    line-height: normal;

    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

ol, ul {
    list-style-type: none;
}

ul {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    outline: none;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.middle {
    display: flex;
    overflow: hidden;
    height: auto;
}

.content {
  width: 800px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content .cart_header{
    width: 200px;
    height: 30px;
    justify-content: left;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    overflow: hidden;
}

.middle .cart_header {
  display: flex;
  flex-direction: row;
  height: 30px;
  font-size: 23px;
  font-weight: bold;
}

.line {
    height: 2px;
    width: 800px;
    margin: 35px 0px 5px 0px;
    background-color: black;
}

.only_pc {
    width: 800px;
    margin: 0 auto;
}

.only_pc .cart_item {
    float: left;
    width: 500px;
}

.cart_item {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.only_pc .cart_select {
    position: static;
    height: auto;
    border-bottom: 1px solid #f2f2f2;
}

.cart_select {
    position: relative;
    z-index: 2;
    height: 46px;
}

.only_pc .cart_select .inner_select {
    position: static;
    padding: 0 10px 0 2px;
}

.cart_select .inner_select {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 0 20px;
    background-color: #fff;
}

.only_pc .cart_select .check {
    padding: 18px 0 17px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -.3px;
}

.cart_select .check {
    float: left;
    padding: 11px 0 10px;
}

.skin_checkbox input[type=radio], input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

dt {
    display: block;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

.only_pc .cart_select .check {
    padding: 18px 0 17px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -.3px;
}

.skin_checkbox input:checked[type=radio]+.ico, input[type=checkbox]:checked+.ico {
    background-image: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox_checked.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
}

.skin_checkbox input[type=radio]+.ico, input[type=checkbox]+.ico {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    border: 0;
    background-image: url(https://res.kurly.com/mobile/service/common/2006/ico_checkbox.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
    vertical-align: -7px;
}

.only_pc .cart_select .check {
    padding: 18px 0 17px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -.3px;
}

.only_pc .cart_select .btn_delete {
    float: left;
    padding: 18px 0 17px 20px;
    font-weight: 700;
    line-height: 25px;
}

.cart_select .btn_delete {
    float: right;
    padding: 11px 0 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.box {
    width: 500px;
    background-color: #fff;
}

.only_pc .box .tit_box {
    overflow: hidden;
    height: 60px;
    padding: 14px 5px 15px 0;
}

.only_pc .box .tit {
    position: static;
    height: auto;
}

.box .tit {
    position: relative;
    z-index: 1;
    height: 56px;
}

.only_pc .box .tit .inner_tit {
    position: static;
    float: left;
    width: 50%;
    height: auto;
    padding: 3px 0 0;
    font-weight: 700;
    line-height: 26px;
}

.box .tit .inner_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    padding: 17px 20px 15px;
    background-color: #fff;
    font-weight: 600;
    font-size: 18px;
    color: #333;
    line-height: 24px;
}

.only_pc .box.room .tit .ico {
    background-image: url(https://res.kurly.com/pc/service/cart/2009/ico_room_v2.svg?v=1);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.only_pc .box .tit .ico {
    float: left;
    width: 30px;
    height: 30px;
    margin: -3px 9px 0 0;
}

.box.room .tit .ico {
    background-image: url(https://res.kurly.com/mobile/service/cart/2009/ico_room.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 50% 50%;
}

.box .tit .ico {
    float: left;
    width: 24px;
    height: 24px;
    margin: -1px 12px 0 0;
}

.only_pc .box .list {
    padding: 0;
    border-bottom: 1px solid #f4f4f4;
}

.box .list {
    width: 500px;
    padding: 4px 20px 0;
}

.only_pc .box .list li {
    padding-left: 0;
}

.box .list li {
    padding-left: 36px;
}

.only_pc .box .list li .item {
    overflow: hidden;
    min-height: 128px;
    padding: 0;
}

.box .list li:first-child .item {
    border-top: 0;
}

.box .list li .item {
    position: relative;
    padding: 23px 36px 20px 0;
    border-top: 1px solid #f4f4f4;
}

.only_pc .box .list li .check {
    left: 2px;
    top: 50%;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    padding: 0;
}

.box .list li .check {
    position: absolute;
    left: -56px;
    top: 0;
    width: 56px;
    height: 66px;
    padding: 20px 0 0 20px;
}

.only_pc .box .list li .name {
    display: table;
    width: 244px;
    min-height: 128px;
    padding: 19px 0 18px 136px;
}

.only_pc .box .list li .name .inner_name {
    display: table-cell;
    vertical-align: middle;
}

.only_pc .box .list li .name .package {
    overflow: hidden;
    max-height: 54px;
    font-weight: 700;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.box .list li .name .package {
    display: block;
    max-height: 48px;
    font-weight: 400;
    font-size: 16px;
    color: #333;
    line-height: 20px;
    word-break: break-all;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.only_pc .box .list li .name .info {
    overflow: hidden;
}

.only_pc .box .list li .goods {
    overflow: visible;
    height: 100%;
    padding-top: 0;
}

.box .list li .goods {
    overflow: hidden;
    padding-top: 14px;
}

element.style {
    background-image: url(https://img-cf.kurly.com/shop/data/goods/1614755639814i0.jpg);
}

form{
    width: 800px;
}

.only_pc .box .list li .goods .thumb {
    position: absolute;
    left: 56px;
    top: 50%;
    margin-top: -39px;
}

.box .list li .goods .thumb {
    overflow: hidden;
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-color: #f4f4f4;
    font-size: 0;
    text-indent: -9999px;
}

.box .list li .goods .price {
    overflow: hidden;
    padding-left: 20px;
}

.only_pc .box .list li .goods .price .in_price {
    position: absolute;
    right: 49px;
    top: 50%;
    width: 116px;
    transform: translateY(-50%);
}

.only_pc .box .list li .goods .price .in_price .selling {
    display: block;
    font-weight: 700;
    font-size: 16px;
    text-align: right;
}

.box .list li .goods .price .selling {
    font-weight: 700;
    font-size: 16px;
    color: #333;
    line-height: 24px;
    word-break: break-all;
}

.only_pc .box .list li .goods .price .in_price .cost {
    display: block;
    padding-top: 4px;
    line-height: 24px;
    text-align: right;
}

.box .list li .goods .price .cost {
    padding-left: 6px;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    word-break: break-all;
    text-decoration: line-through;
    vertical-align: 1px;
}

.only_pc .box .list li .goods .price .in_price .noti {
    height: auto;
}

.box .list li .goods .price .noti {
    height: 19px;
    padding-top: 1px;
    font-weight: 600;
    font-size: 12px;
    color: #b3130b;
    line-height: 18px;
}

.only_pc .box .list li .goods .price .count {
    position: absolute;
    left: 473px;
    top: 50%;
    margin-top: -13px;
}

.only_pc .stamper {
    width: 88px;
    height: 30px;
    border-radius: 3px;
}

.only_pc * {
    font-family: Noto Sans;
    letter-spacing: 0;
}

.stamper, .stamper .btn {
    overflow: hidden;
    height: 36px;
}

.stamper {
    width: 101px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.only_pc .stamper .btn.minus.off {
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus.svg);
}

.only_pc .stamper .btn.minus, .only_pc .stamper .btn.minus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.only_pc .stamper .btn.minus {
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus_on.svg);
}

.stamper .btn.minus.off {
    background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus.svg);
}

.stamper .btn.minus, .stamper .btn.minus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: 50% 50%;
}

.only_pc .stamper .btn {
    width: 30px;
    height: 30px;
}

.stamper .btn.minus {
    background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus_on.svg);
}

.stamper .btn {
    float: left;
    width: 35px;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
}

.stamper, .stamper .btn {
    overflow: hidden;
    height: 36px;
}

.only_pc .stamper .btn.minus.off {
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus.svg);
}

.only_pc .stamper .btn.minus, .only_pc .stamper .btn.minus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.only_pc .stamper .btn.minus {
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus_on.svg);
}

.stamper .btn.minus.off {
    background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus.svg);
}

.stamper .btn.minus, .stamper .btn.minus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: 50% 50%;
}

.only_pc .stamper .btn {
    width: 30px;
    height: 30px;
}

.stamper .btn.minus {
    background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus_on.svg);
}

.stamper .btn {
    float: left;
    width: 35px;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
}

.stamper, .stamper .btn {
    overflow: hidden;
    height: 36px;
}

.btn {
    width: 100%;
    height: 48px;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    outline: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
    border-radius: 0;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.only_pc .stamper .num {
    width: 26px;
    height: 30px;
    padding-bottom: 4px;
    font-weight: 400;
    line-height: 18px;
}

.stamper .num {
    float: left;
    width: 29px;
    height: 36px;
    margin-right: -1px;
    padding: 0;
    border: 0;
    font-weight: 600;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    text-align: center;
}

input[type="number" i] {
    padding: 1px 2px;
}

.only_pc .stamper .btn.plus, .only_pc .stamper .btn.plus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.only_pc .stamper .btn.plus {
    background-image: url(https://res.kurly.com/pc/service/common/2009/ico_plus_on.svg);
}

.only_pc .stamper .btn {
    width: 30px;
    height: 30px;
}

.stamper .btn.plus, .stamper .btn.plus.off {
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 36px 36px;
    background-position: 50% 50%;
}

.stamper .btn.plus {
    float: right;
    margin-left: -1px;
    background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_plus_on.svg);
}

.stamper .btn {
    float: left;
    width: 35px;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
}

.stamper, .stamper .btn {
    overflow: hidden;
    height: 36px;
}

.only_pc .box .list li .btn_delete {
    right: 5px;
    top: 50%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-top: -13px;
    border: 0;
    background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: 50% 50%;
}

.box .list li .btn_delete {
    overflow: hidden;
    position: absolute;
    right: -22px;
    top: 4px;
    width: 56px;
    height: 56px;
    padding: 22px 24px;
    border: 0;
    background-image: url(https://res.kurly.com/mobile/service/cart/2007/ico_delete.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    background-position: 50% 50%;
    font-size: 0;
    text-indent: -9999px;
}

.only_pc .cart_result {
    position: relative ;
    float: right;
}

element.style {
    top: 60px;
}

.only_pc .cart_result .inner_result {
    position: absolute;
    right: 0;
    top: 60px;
    width: 284px;
    background-color: #fff;
}

.only_pc .cart_delivery {
    padding: 23px 19px 20px;
    border: 1px solid #f2f2f2;
    border-bottom: 0;
}

.cart_delivery {
    position: relative;
    z-index: 3;
}

.only_pc .cart_delivery .tit {
    padding-left: 24px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -.3px;
    background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_location.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 0 50%;
}

.only_pc .cart_delivery .address {
    display: block;
    position: relative;
    padding: 11px 0 0;
}

.cart_delivery .address {
    display: block;
    position: relative;
    padding: 8px 0 10px 16px;
}

.only_pc .cart_delivery .address .addr {
    position: static;
    padding-left: 0;
    padding-right: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.cart_delivery .address .addr {
    position: relative;
    padding-left: 28px;
    padding-right: 64px;
    font-size: 14px;
    line-height: 17px;
}

.only_pc .cart_delivery .address .btn {
    margin-top: 17px;
}

.only_pc .cart_delivery .btn {
    display: block;
    width: 100%;
    height: 36px;
    font-weight: 700;
    font-size: 12px;
    line-height: 34px;
}

.btn.default {
    border: 1px solid red;
    background-color: #fff;
    color: red;
}

.only_pc .amount_view {
    padding: 9px 18px 18px 20px;
    border: 1px solid #f2f2f2;
    background-color: #fafafa;
}

.only_pc .amount_view .amount {
    padding-top: 9px;
}

.amount_view .amount {
    overflow: hidden;
    padding-top: 9px;
}

.amount_view {
    padding: 13px 20px 90px;
    border-top: 10px solid #f4f4f4;
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    padding-bottom: calc(90px + var(--safe-area-inset-bottom));
}

.only_pc .amount_view .amount .tit {
    float: left;
    width: 96px;
    font-weight: 400;
    letter-spacing: -.5px;
}

.amount_view .amount .tit {
    float: left;
    width: 90px;
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
}

.only_pc .amount_view .amount .price {
    float: right;
}

.amount_view .amount .price {
    float: right;
    line-height: 24px;
    text-align: right;
}

.only_pc .amount_view .amount .price .num {
    letter-spacing: -.5px;
}

.amount_view .amount .price .num {
    font-size: 18px;
}

.amount_view .amount .price {
    float: right;
    line-height: 24px;
    text-align: right;
}

.amount_view .amount .price .won {
    padding-left: 2px;
    font-size: 16px;
    vertical-align: 1px;
}

.only_pc .amount_view .amount.lst {
    margin: 17px 0 0;
    padding-top: 17px;
    border-top: 1px solid #eee;
}

.amount_view .amount.lst {
    margin: 11px 0 0;
    padding-top: 12px;
    border-top: 1px solid #f4f4f4;
}

.only_pc .btn_submit {
    position: static;
    padding: 20px 0 0;
    background: 0 0;
}


.only_pc .btn_submit .btn {
    height: 56px;
    padding-bottom: 2px;
    line-height: 54px;
}

.btn_submit .btn {
    height: 56px;
    line-height: 56px;
}

.btn.active {
    border: 1px solid red;
    background-color: red;
    color: #fff;
}

[type=submit] {
    border-radius: 0;
}

.only_pc .cart_result .notice {
    padding-top: 34px;
}

.only_pc .cart_result .notice .txt {
    display: block;
    position: relative;
    padding: 6px 0 0 10px;
    font-size: 12px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.5px;
}

