@charset "UTF-8";

table {
  border-collapse: collapse;
}

/*배송관리 페이지 여기부터*/
.middle .content_info_update_header {
  display: flex;
  flex-direction: row;
  height: 30px;
  font-size: 23px;
  font-weight: bold;
}

.middle .content_matchingInfo_header div {
  width: 200px;
  height: 30px;
  justify-content: left;
  font-size: 23px;
  font-weight: bold;
}

/*타이틀 리스트 구분줄*/

.line {
  height: 2px;
  width: 800px;
  margin: 35px 0px 5px 0px;
  background-color: black;
}

/*매칭프로필테이블 프로필 이미지박스*/
#imgbox {
  text-align: center;
}

table td img {
  width: 100px;
  height: auto;
  margin: 50px 0px 50px 0px;
}

/*매칭프로필 테이블 프로필 믹네임 프로필바꾸기 박스*/
.add_div_box div {
  margin: 0px 20px 5px 10px;
  font-size: 16px;
}

/*프로필 사진 변경하기 버튼*/
.add_btn {
  border-radius: 0px;
  color: #000000;
  background-color: white;
  font-size: 16px;
  text-decoration: none;
  border: none;
  padding: 0 auto;
  height: 30px;
  cursor: pointer;
}

.add_btn:hover {
  text-decoration: none;
  color: #e60012;
}

#address #address_title {
  height: 100px;
  font-size: 16px;
  vertical-align: top;
  text-align: center;
}

#address #address_content {
  height: 100px;
  font-size: 16px;
  vertical-align: top;
}

#address input {
  width: 400px;
  height: 10px;
  padding: 8px 6px;
  margin-bottom: 10px;
  border: 1px solid #dddfe1;
  border-radius: 0px;
}

#add_search {
  display: flex;
}

#address_content1 input {
  width: 300px;
}

/*검색하기버튼*/
#search_btn {
  border-radius: 0px;
  color: #000000;
  background-color: white;
  font-size: 13px;
  padding: 3px 2px 3px 2px;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  border: 1px solid #dddfe1;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

#search_btn:hover {
  background: #d4d4d4;
  text-decoration: none;
}

/*저장 취소*/
/*버튼*/
.info_update_btn .insert_btn,
.info_update_btn .delclose_btn {
  border-radius: 0px;
  color: #000000;
  background-color: white;
  font-size: 13px;
  padding: 3px 2px 3px 2px;
  margin: 0px 15px 0px 15px;
  text-decoration: none;
  border: 1px solid #dddfe1;
  width: 130px;
  height: 30px;
  cursor: pointer;
}

.info_update_btn .insert_btn:hover,
.info_update_btn .delclose_btn:hover {
  background: #d4d4d4;
  text-decoration: none;
}

/*버튼 위치조절*/
.info_update_btn {
  margin: 30px 230px 70px 230px;
}
