@charset "UTF-8";

.wrap .container #paging {
	margin: 0px auto;
	width: 310px;
}

.wrap .container #paging ul {
	margin: 10px 5px 10px 5px;
}

.wrap .container #paging ul>li {
	float: left;
	margin: 0px 8px 0px 8px;
}

.wrap .container #paging ul>li.active {
	font-size: 14px;
	font-weight: bold;
}

.middle {
	display: flex;
	overflow: hidden;
}

.content {
	width: 800px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	display: flex;
}

.content .alarm_header {
	width: 200px;
	height: 30px;
	justify-content: left;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	overflow: hidden;
}

.alram_list .test {
	margin-top: 10px;
	margin-bottom: 10px;
}

.middle .alarm_header {
	display: flex;
	flex-direction: row;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
}

/*타이틀 리스트 구분줄*/
.line {
	height: 2px;
	width: 800px;
	margin: 35px 0px 5px 0px;
	background-color: black;
}

.alram_list {
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.Box_alarm {
	margin: 5px 5px 25px 5px;
	width: 400px;
	border: gray 2px solid;
	border-radius: 10px 0 10px 0;
	padding: 10px;
	word-break: break-all;
	box-shadow: 2px 2px 2px 2px rgba(163, 174, 184, 0.7);
}

.Box_alarm .Addr_goods {
	color: gray;
	font-size: 16px;
}

.Box_alarm .Kind_goods {
	color: white;
	background-color: #e60012;
	width: 60px;
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

.Box_alarm .Notice_alarm {
	font-size: 14px;
}

.Box_alarm .Kind_goods_state {
	color: black;
	font-weight: bold;
	width: auto;
	margin-bottom: 5px;
}

.Box_alarm span {
	display: block;
}
/* //alarm.html */
div, th, td, li, dt, dd, p {
	word-break: break-all;
}

div {
	display: block;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

ol, ul {
	list-style-type: none;
}

.middle {
	display: flex;
	overflow: hidden;
}

.content {
	width: 800px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.content .alarm_header {
	width: 200px;
	height: 30px;
	justify-content: left;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	overflow: hidden;
}

.alram_list .test {
	margin-top: 10px;
	margin-bottom: 10px;
}

.middle .alarm_header {
	display: flex;
	flex-direction: row;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
}

/*타이틀 리스트 구분줄*/
.buylist_line {
	height: 2px;
	width: 800px;
	margin: 7px 0px 5px 0px;
	background-color: black;
}

.alram_list {
	display: flex;
	overflow: hidden;
	flex-direction: column;
}

.search_date {
	position: relative;
	z-index: 1;
}

.screen_out {
	display: block;
	overflow: hidden;
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px;
}

.search_date .btn_layer {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: -20px;
	width: 157px;
	height: 30px;
	padding: 11px 0 0 15px;
	border: 1px solid #ddd;
	font-size: 14px;
	color: #666;
	line-height: 18px;
	letter-spacing: -.5px;
}

.search_date .layer_search li:first-child {
	border-top: 0;
}

.search_date .layer_search li {
	background-color: #fff;
	border-top: 1px solid #dddfe1;
}

.search_date .layer_search a.on {
	background-color: #f7f7f7;
}

.search_date .layer_search a {
	display: block;
	overflow: hidden;
	height: 32px;
	padding: 7px 0 0 8px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	letter-spacing: -.2px;
}

.search_date .btn_layer:after {
	content: "";
	position: absolute;
	left: 128px;
	top: 18px;
	width: 12px;
	height: 8px;
	background: url(https://res.kurly.com/pc/ico/2008/ico_down_12x8.svg) no-repeat 0 0;
	background-size: 12px 8px;
}

.sub_tmenu {
	overflow: hidden;
	position: relative;
	z-index: 10;
	padding-right: 1px;
	background: #4f5c74;
	width: 450px;
	margin-left: 175px;
	margin-right: 175px;
}

.sub_tmenu li {
	display: table-cell;
	*display: inline-block;
	*float: left;
	width: auto;
	*width: 33.1%;
	height: 44px;
	text-align: center;
	padding: 1px 0 1px 1px;
}

.sub_tmenu li.sub_on a {
	background-color: #525f78;
	width: 150px;
	font-size: 14px;
}

.sub_tmenu li a {
	display: block;
	width: 100%;
	padding: 14px 0;
	background-color: #606e89;
	color: #fff;
	text-decoration: none;
}

.sub_tmenu li.sub_on a.t1_1 span {
	background-position: -150px 0;
}

.sub_tmenu li a.t1_1 span {
	width: 25px;
	background-position: 0 0;
}

/* .content .list_order{
  padding-top: 10px;

}

.list_order .no_data{
  border-bottom: 1px solid #dddfe1;
}

.middle .no_data{
  padding: 50px 0;
  font-size: 13px;
  color: #757575;
  text-align: center;
}

.sub_tmenu li a.t1_2 span {
    width: 38px;
    background-position: 0 -20px;
} */
.goods_pay_item {
	display: table;
	width: 100%;
	min-height: 161px;
	padding: 23px 0 24px;
	table-layout: fixed;
	border-bottom: 1px solid black;
}

.goods_pay_item .goods_item {
	position: relative;
	padding-left: 129px;
}

.goods_pay_item>div {
	display: table-cell;
	vertical-align: middle;
}

.goods_pay_item .goods_item .goods_thumb img {
	vertical-align: top;
}

img, fieldset {
	border: 0;
}

.goods_pay_item .goods_item .goods_thumb {
	overflow: hidden;
	position: absolute;
	left: 9px;
	top: 50%;
	width: 90px;
	height: 90px;
	margin-top: -45px;
	text-align: center;
}

.goods_pay_item .goods_item .goods_info .goods {
	display: block;
	text-decoration: none;
}

.goods_pay_item .goods_item .goods_info {
	font-size: 13px;
}

.goods_pay_item .goods_item .goods_info .goods .name {
	max-width: 100%;
	overflow: hidden;
	color: #000;
	font-size: 16px;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	text-decoration: none;
}

.goods_pay_item .goods_item .goods_info .goods {
	display: block;
	text-decoration: none;
}

.blind {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}

.blind {
	visibility: hidden;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 1px;
	font-size: 0;
	line-height: 0;
}

.goods_pay_item .goods_item .goods_info .goods .info li {
	display: inline-block;
	color: #000;
	font-size: 14px;
	line-height: 18px;
}

.date {
	margin-left: 10px;
}

.goods_pay_item .goods_item .goods_info .state {
	color: #a5a5a5;
	text-decoration: none;
}

.goods_pay_item .goods_item .goods_info {
	font-size: 13px;
}

.goods_pay_item .goods_item .goods_info .guide {
	margin-top: 10px;
	padding-top: 10px;
	color: #646465;
	line-height: 18px;
	border-top: 1px solid #f4f6f7;
}

.goods_pay_item .goods_item .goods_info {
	font-size: 13px;
}

.goods_pay_item .seller_item {
	width: 150px;
}

.goods_pay_item>div {
	display: table-cell;
	vertical-align: middle;
}

.goods_pay_item .seller_item .inner .seller {
	overflow: hidden;
	max-width: 100%;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	margin-bottom: 5px;
}

.goods_pay_item .seller_item .inner>* {
	display: block;
}

.goods_pay_item .seller_item .inner {
	padding: 0 29px;
	color: #000;
	text-align: center;
}

.goods_pay_item .seller_item .inner .tel {
	margin-bottom: 5px;
	color: #a5a5a5;
	font-size: 11px;
	font-family: Helvetica, '나눔고딕', NanumGothic, '맑은고딕', MalgunGothic, '돋움', Dotum, sans-serif;
}

.goods_pay_item .seller_item .inner>* {
	display: block;
}

.goods_pay_item .seller_item .inner {
	padding: 0 29px;
	color: #000;
	text-align: center;
}

.goods_pay_item .seller_item .inner>* {
	display: block;
}

.state_button.qna {
	width: 55px;
	height: 20px;
	margin: 0 auto;
	color: #a5a5a5;
	font-size: 12px;
	line-height: 18px;
	text-decoration: none;
}

.state_button {
	display: block;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.goods_pay_item .button_item {
	width: 110px;
}

.goods_pay_item .area_layer {
	width: 110px;
}

.goods_pay_item>div {
	display: table-cell;
	vertical-align: middle;
}

.state_button.function {
	width: 100%;
	height: 29px;
	color: #424242;
	font-size: 13px;
	line-height: 27px;
	text-decoration: none;
}

.state_button {
	display: block;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

/* 여기까지 */
.goods_pay_item .test {
	width: 150px;
}

.goods_pay_item .test .test_2 {
	margin-left: 20px;
}

.content_product_insert_select_box select {
	width: 160px;
	padding: 4px 3px;
	font-family: inherit;
	appearance: none;
	border: 1px solid #dddfe1;
	border-radius: 0px;
	cursor: pointer;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
	background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
	background-repeat: no-repeat;
	float: left;
}

.content_product_insert_select_box select::-ms-expand {
	/* for IE 11 */
	display: none;
}
/* //buylist.html */
div {
	display: block;
}

div, th, td, li, dt, dd, p {
	word-break: break-all;
}

label {
	font-size: 16px;
	line-height: 24px;
	cursor: default;
	display: inline-block;
}

input {
	line-height: normal;
	text-rendering: auto;
	color: -internal-light-dark(black, white);
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	appearance: textfield;
	background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
	-webkit-rtl-ordering: logical;
	cursor: text;
	margin: 0em;
	font: 400 13.3333px Arial;
	padding: 1px 2px;
	border-width: 2px;
	border-style: inset;
	border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
	border-image: initial;
}

h4 {
	display: block;
	margin-block-start: 1.33em;
	margin-block-end: 1.33em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

ol, ul {
	list-style-type: none;
}

ul {
	display: block;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: inherit;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

button {
	outline: none;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.middle {
	display: flex;
	overflow: hidden;
	height: auto;
}

.content {
	width: 800px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.content .cart_header {
	width: 200px;
	height: 30px;
	justify-content: left;
	font-size: 23px;
	font-weight: bold;
	display: flex;
	overflow: hidden;
}

.middle .cart_header {
	display: flex;
	flex-direction: row;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
}

.line {
	height: 2px;
	width: 800px;
	margin: 35px 0px 5px 0px;
	background-color: black;
}

.only_pc {
	width: 800px;
	margin: 0 auto;
}

.only_pc .cart_item {
	float: left;
	width: 500px;
}

.cart_item {
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.only_pc .cart_select {
	position: static;
	height: auto;
	border-bottom: 1px solid #f2f2f2;
}

.cart_select {
	position: relative;
	z-index: 2;
	height: 46px;
}

.only_pc .cart_select .inner_select {
	position: static;
	padding: 0 10px 0 2px;
}

.cart_select .inner_select {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding: 0 20px;
	background-color: #fff;
}

.only_pc .cart_select .check {
	padding: 18px 0 17px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: -.3px;
}

.cart_select .check {
	float: left;
	padding: 11px 0 10px;
}

dl {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

dt {
	display: block;
}

dd {
	display: block;
	margin-inline-start: 40px;
}

.only_pc .cart_select .check {
	padding: 18px 0 17px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: -.3px;
}

.only_pc .cart_select .check {
	padding: 18px 0 17px;
	font-weight: 700;
	font-size: 14px;
	letter-spacing: -.3px;
}

.only_pc .cart_select .btn_delete {
	float: left;
	padding: 18px 0 17px 20px;
	font-weight: 700;
	line-height: 25px;
}

.cart_select .btn_delete {
	float: right;
	padding: 11px 0 10px;
	font-weight: 600;
	font-size: 14px;
	line-height: 24px;
}

.box {
	width: 500px;
	background-color: #fff;
}

.only_pc .box .tit_box {
	overflow: hidden;
	height: 60px;
	padding: 14px 5px 15px 0;
}

.only_pc .box .tit {
	position: static;
	height: auto;
}

.box .tit {
	position: relative;
	z-index: 1;
	height: 56px;
}

.only_pc .box .tit .inner_tit {
	position: static;
	float: left;
	width: 50%;
	height: auto;
	padding: 3px 0 0;
	font-weight: 700;
	line-height: 26px;
}

.box .tit .inner_tit {
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 17px 20px 15px;
	background-color: #fff;
	font-weight: 600;
	font-size: 18px;
	color: #333;
	line-height: 24px;
}

.only_pc .box.room .tit .ico {
	background-image: url(https://res.kurly.com/pc/service/cart/2009/ico_room_v2.svg?v=1);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 50% 50%;
}

.only_pc .box .tit .ico {
	float: left;
	width: 30px;
	height: 30px;
	margin: -3px 9px 0 0;
}

.box.room .tit .ico {
	background-image: url(https://res.kurly.com/mobile/service/cart/2009/ico_room.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	background-position: 50% 50%;
}

.box .tit .ico {
	float: left;
	width: 24px;
	height: 24px;
	margin: -1px 12px 0 0;
}

.only_pc .box .list {
	padding: 0;
	border-bottom: 1px solid #f4f4f4;
}

.box .list {
	width: 500px;
	padding: 4px 20px 0;
}

.only_pc .box .list li {
	padding-left: 0;
}

.box .list li {
	padding-left: 36px;
}

.only_pc .box .list li .item {
	overflow: hidden;
	min-height: 128px;
	padding: 0;
}

.box .list li:first-child .item {
	border-top: 0;
}

.box .list li .item {
	position: relative;
	padding: 23px 36px 20px 0;
	border-top: 1px solid #f4f4f4;
}

.only_pc .box .list li .check {
	left: 2px;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	padding: 0;
}

.box .list li .check {
	position: absolute;
	left: -56px;
	top: 0;
	width: 56px;
	height: 66px;
	padding: 20px 0 0 20px;
}

.only_pc .box .list li .name {
	display: table;
	width: 244px;
	min-height: 128px;
	padding: 19px 0 18px 136px;
}

.only_pc .box .list li .name .inner_name {
	display: table-cell;
	vertical-align: middle;
}

.only_pc .box .list li .name .package {
	overflow: hidden;
	max-height: 54px;
	font-weight: 700;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

.box .list li .name .package {
	display: block;
	max-height: 48px;
	font-weight: 400;
	font-size: 16px;
	color: #333;
	line-height: 20px;
	word-break: break-all;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.only_pc .box .list li .name .info {
	overflow: hidden;
}

.only_pc .box .list li .goods {
	overflow: visible;
	height: 100%;
	padding-top: 0;
}

.box .list li .goods {
	overflow: hidden;
	padding-top: 14px;
}

element.style {
	background-image: url(https://img-cf.kurly.com/shop/data/goods/1614755639814i0.jpg);
}

form {
	width: 800px;
	min-height: 540px;
	height: auto;
}

.only_pc .box .list li .goods .thumb {
	position: absolute;
	left: 56px;
	top: 50%;
	margin-top: -39px;
}

.box .list li .goods .thumb {
	overflow: hidden;
	float: left;
	width: 80px;
	height: 80px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	background-color: #f4f4f4;
	font-size: 0;
	text-indent: -9999px;
}

.box .list li .goods .price {
	overflow: hidden;
	padding-left: 20px;
}

.only_pc .box .list li .goods .price .in_price {
	position: absolute;
	right: 49px;
	top: 50%;
	width: 116px;
	transform: translateY(-50%);
}

.only_pc .box .list li .goods .price .in_price .selling {
	display: block;
	font-weight: 700;
	font-size: 16px;
	text-align: right;
}

.box .list li .goods .price .selling {
	font-weight: 700;
	font-size: 16px;
	color: #333;
	line-height: 24px;
	word-break: break-all;
}

.only_pc .box .list li .goods .price .in_price .cart_count {
	display: block;
	padding-top: 4px;
	line-height: 24px;
	text-align: right;
}

.box .list li .goods .price .cart_count {
	padding-left: 6px;
	font-size: 14px;
	color: #999;
	line-height: 20px;
	word-break: break-all;
	vertical-align: 1px;
}

.only_pc .box .list li .goods .price .in_price .noti {
	height: auto;
}

.box .list li .goods .price .noti {
	height: 19px;
	padding-top: 1px;
	font-weight: 600;
	font-size: 12px;
	color: #b3130b;
	line-height: 18px;
}

.only_pc .box .list li .goods .price .count {
	position: absolute;
	left: 473px;
	top: 50%;
	margin-top: -13px;
}

.only_pc .stamper {
	width: 88px;
	height: 30px;
	border-radius: 3px;
}

.only_pc * {
	font-family: Noto Sans;
	letter-spacing: 0;
}

.stamper, .stamper .btn {
	overflow: hidden;
	height: 36px;
}

.stamper {
	width: 101px;
	border: 1px solid #e1e1e1;
	border-radius: 4px;
}

.only_pc .stamper .btn.minus.off {
	background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus.svg);
}

.only_pc .stamper .btn.minus, .only_pc .stamper .btn.minus.off {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 50% 50%;
}

.only_pc .stamper .btn.minus {
	background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus_on.svg);
}

.stamper .btn.minus.off {
	background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus.svg);
}

.stamper .btn.minus, .stamper .btn.minus.off {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	background-position: 50% 50%;
}

.only_pc .stamper .btn {
	width: 30px;
	height: 30px;
}

.stamper .btn.minus {
	background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus_on.svg);
}

.stamper .btn {
	float: left;
	width: 35px;
	border: 0;
	font-size: 0;
	text-indent: -9999px;
}

.stamper, .stamper .btn {
	overflow: hidden;
	height: 36px;
}

.only_pc .stamper .btn.minus.off {
	background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus.svg);
}

.only_pc .stamper .btn.minus, .only_pc .stamper .btn.minus.off {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 50% 50%;
}

.only_pc .stamper .btn.minus {
	background-image: url(https://res.kurly.com/pc/service/common/2009/ico_minus_on.svg);
}

.stamper .btn.minus.off {
	background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus.svg);
}

.stamper .btn.minus, .stamper .btn.minus.off {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	background-position: 50% 50%;
}

.only_pc .stamper .btn {
	width: 30px;
	height: 30px;
}

.stamper .btn.minus {
	background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_minus_on.svg);
}

.stamper .btn {
	float: left;
	width: 35px;
	border: 0;
	font-size: 0;
	text-indent: -9999px;
}

.stamper, .stamper .btn {
	overflow: hidden;
	height: 36px;
}

.btn {
	width: 100%;
	height: 48px;
	border: 0;
	border-radius: 4px;
	font-weight: 600;
	font-size: 16px;
	line-height: 50px;
	text-align: center;
	outline: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}

button, select {
	text-transform: none;
}

button {
	overflow: visible;
	border-radius: 0;
}

.only_pc .stamper .num {
	width: 26px;
	height: 30px;
	padding-bottom: 4px;
	font-weight: 400;
	line-height: 18px;
}

.stamper .num {
	float: left;
	width: 29px;
	height: 36px;
	margin-right: -1px;
	padding: 0;
	border: 0;
	font-weight: 600;
	font-size: 14px;
	color: #333;
	line-height: 20px;
	text-align: center;
}

input[type="number" i] {
	padding: 1px 2px;
}

.only_pc .stamper .btn.plus, .only_pc .stamper .btn.plus.off {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 50% 50%;
}

.only_pc .stamper .btn.plus {
	background-image: url(https://res.kurly.com/pc/service/common/2009/ico_plus_on.svg);
}

.only_pc .stamper .btn {
	width: 30px;
	height: 30px;
}

.stamper .btn.plus, .stamper .btn.plus.off {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	background-position: 50% 50%;
}

.stamper .btn.plus {
	float: right;
	margin-left: -1px;
	background-image: url(https://res.kurly.com/mobile/service/cart/2010/ico_plus_on.svg);
}

.stamper .btn {
	float: left;
	width: 35px;
	border: 0;
	font-size: 0;
	text-indent: -9999px;
}

.stamper, .stamper .btn {
	overflow: hidden;
	height: 36px;
}

.only_pc .box .list li .btn_delete {
	right: 5px;
	top: 50%;
	width: 30px;
	height: 30px;
	padding: 0;
	margin-top: -13px;
	border: 0;
	background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_delete.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	background-position: 50% 50%;
}

.box .list li .btn_delete {
	overflow: hidden;
	position: absolute;
	right: -22px;
	top: 4px;
	width: 56px;
	height: 56px;
	padding: 22px 24px;
	border: 0;
	background-image: url(https://res.kurly.com/mobile/service/cart/2007/ico_delete.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	background-position: 50% 50%;
	font-size: 0;
	text-indent: -9999px;
}

.only_pc .cart_result {
	position: relative;
	float: right;
}

element.style {
	top: 60px;
}

.only_pc .cart_result .inner_result {
	position: absolute;
	right: 0;
	top: 60px;
	width: 284px;
	background-color: #fff;
}

.only_pc .cart_delivery {
	padding: 23px 19px 20px;
	border: 1px solid #f2f2f2;
	border-bottom: 0;
}

.cart_delivery {
	position: relative;
	z-index: 3;
}

.only_pc .cart_delivery .tit {
	padding-left: 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -.3px;
	background-image: url(https://res.kurly.com/pc/service/cart/2007/ico_location.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: 0 50%;
}

.only_pc .cart_delivery .address {
	display: block;
	position: relative;
	padding: 11px 0 0;
}

.cart_delivery .address {
	display: block;
	position: relative;
	padding: 8px 0 10px 16px;
}

.only_pc .cart_delivery .address .addr {
	position: static;
	padding-left: 0;
	padding-right: 0;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
}

.cart_delivery .address .addr {
	position: relative;
	padding-left: 28px;
	padding-right: 64px;
	font-size: 14px;
	line-height: 17px;
}

.only_pc .cart_delivery .address .btn {
	margin-top: 17px;
}

.only_pc .cart_delivery .btn {
	display: block;
	width: 100%;
	height: 36px;
	font-weight: 700;
	font-size: 12px;
	line-height: 34px;
}

.btn.default {
	border: 1px solid red;
	background-color: #fff;
	color: red;
}

.only_pc .amount_view {
	padding: 9px 18px 18px 20px;
	border: 1px solid #f2f2f2;
	background-color: #fafafa;
}

.only_pc .amount_view .amount {
	padding-top: 9px;
}

.amount_view .amount {
	overflow: hidden;
	padding-top: 9px;
}

.amount_view {
	padding: 13px 20px 90px;
	border-top: 10px solid #f4f4f4;
	-safe-area-inset-bottom: env(safe-area-inset-bottom);
	padding-bottom: calc(90px + var(- -safe-area-inset-bottom));
}

.only_pc .amount_view .amount .tit {
	float: left;
	width: 96px;
	font-weight: 400;
	letter-spacing: -.5px;
}

.amount_view .amount .tit {
	float: left;
	width: 90px;
	font-size: 16px;
	line-height: 24px;
	white-space: nowrap;
}

.only_pc .amount_view .amount .price {
	float: right;
}

.amount_view .amount .price {
	float: right;
	line-height: 24px;
	text-align: right;
}

.only_pc .amount_view .amount .price .num {
	letter-spacing: -.5px;
}

.amount_view .amount .price .num {
	font-size: 18px;
}

.amount_view .amount .price {
	float: right;
	line-height: 24px;
	text-align: right;
}

.amount_view .amount .price .won {
	padding-left: 2px;
	font-size: 16px;
	vertical-align: 1px;
}

.only_pc .amount_view .amount.lst {
	margin: 17px 0 0;
	padding-top: 17px;
	border-top: 1px solid #eee;
}

.amount_view .amount.lst {
	margin: 11px 0 0;
	padding-top: 12px;
	border-top: 1px solid #f4f4f4;
}

.only_pc .btn_submit {
	position: static;
	padding: 20px 0 0;
	background: 0 0;
}

.only_pc .btn_submit .btn {
	height: 56px;
	padding-bottom: 2px;
	line-height: 54px;
}

.btn_submit .btn {
	height: 56px;
	line-height: 56px;
}

.btn.active {
	border: 1px solid red;
	background-color: red;
	color: #fff;
}

[type=submit] {
	border-radius: 0;
}

.only_pc .cart_result .notice {
	padding-top: 34px;
}

.only_pc .cart_result .notice .txt {
	display: block;
	position: relative;
	padding: 6px 0 0 10px;
	font-size: 12px;
	color: #666;
	line-height: 18px;
	letter-spacing: -.5px;
}
/* //cart.html */
.info_table {
	border-collapse: collapse;
}

/*배송관리 페이지 여기부터*/
.middle .content_info_update_header {
	display: flex;
	flex-direction: row;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
}

.middle .content_matchingInfo_header div {
	width: 200px;
	height: 30px;
	justify-content: left;
	font-size: 23px;
	font-weight: bold;
}

/*타이틀 리스트 구분줄*/
.line {
	height: 2px;
	width: 800px;
	margin: 35px 0px 5px 0px;
	background-color: black;
}

/*매칭프로필테이블 프로필 이미지박스*/
#info_imgbox {
	text-align: center;
}

.info_table td img {
	height: 150px;
	width: auto;
	max-width: 150px;
	margin: 50px 0px 50px 0px;
}

/*매칭프로필 테이블 프로필 믹네임 프로필바꾸기 박스*/
.add_div_box div {
	margin: 0px 20px 5px 10px;
	font-size: 16px;
}

/*프로필 사진 변경하기 버튼*/
.add_btn {
	border-radius: 0px;
	color: #000000;
	background-color: white;
	font-size: 16px;
	text-decoration: none;
	border: none;
	padding: 0 auto;
	height: 30px;
	cursor: pointer;
}

.add_btn:hover {
	text-decoration: none;
	color: #e60012;
}

.add_div_box #nickname, .add_div_box #user_id {
	width: 400px;
	height: 10px;
	padding: 8px 6px;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 1px solid #dddfe1;
	border-radius: 0px;
}

.add_div_box #user_photo {
	border: none;
}

#hp #hp_title {
	height: 50px;
	font-size: 16px;
	vertical-align: top;
	text-align: center;
}

#hp #hp_content {
	height: 50px;
	font-size: 16px;
	vertical-align: top;
}

#hp input {
	width: 400px;
	height: 10px;
	padding: 8px 6px;
	margin-bottom: 10px;
	border: 1px solid #dddfe1;
	border-radius: 0px;
}

#add_hp {
	display: flex;
}

#hp_content1 input {
	width: 300px;
}

#address #address_title {
	height: 100px;
	font-size: 16px;
	vertical-align: top;
	text-align: center;
}

#address #address_content {
	height: 100px;
	font-size: 16px;
	vertical-align: top;
}

#address input {
	width: 434px;
	height: 10px;
	padding: 8px 6px;
	margin-bottom: 10px;
	border: 1px solid #dddfe1;
	border-radius: 0px;
}

#address #lastadd {
	width: 434px;
}

#add_search {
	display: flex;
}

#address_content1 #sample4_roadAddress {
	width: 300px;
}

/*검색하기버튼*/
#search_btn {
	border-radius: 0px;
	color: #000000;
	background-color: white;
	font-size: 13px;
	padding: 3px 2px 3px 2px;
	margin: 0px 15px 0px 15px;
	text-decoration: none;
	border: 1px solid #dddfe1;
	width: 80px;
	height: 30px;
	cursor: pointer;
}

#search_btn:hover {
	background: #d4d4d4;
	text-decoration: none;
}

/*저장 취소*/
/*버튼*/
.info_update_btn .insert_btn, .info_update_btn .delclose_btn {
	border-radius: 0px;
	color: #000000;
	background-color: white;
	font-size: 13px;
	padding: 3px 2px 3px 2px;
	margin: 0px 15px 0px 15px;
	text-decoration: none;
	border: 1px solid #dddfe1;
	width: 130px;
	height: 30px;
	cursor: pointer;
}

.info_update_btn .insert_btn:hover, .info_update_btn .delclose_btn:hover {
	background: #d4d4d4;
	text-decoration: none;
}

/*버튼 위치조절*/
.info_update_btn {
	margin: 30px 230px 70px 230px;
}
/* //info_update.html */
.middle .content_mypage {
	width: 800px;
	display: flex;
	flex-direction: column;
}

/*배송관리 페이지 여기부터*/
.middle .content_matchingInfo_header {
	display: flex;
	flex-direction: row;
	height: 30px;
	font-size: 23px;
	font-weight: bold;
}

.middle .content_matchingInfo_header div {
	width: 200px;
	height: 30px;
	justify-content: left;
	font-size: 23px;
	font-weight: bold;
}

/*타이틀 리스트 구분줄*/
.line {
	height: 2px;
	width: 1000px;
	margin: 35px 0px 5px 0px;
	background-color: black;
}

/*이걸로 높이 조절하면됨*/
.insert_matcingInfo {
	font-size: 16px;
	margin-top: 20px;
	min-height: 900px;
}

.insert_matcingInfo tr td {
	vertical-align: top;
	text-align: left;
}

.insert_matcingInfo .basic {
	height: 30px;
}

.insert_matcingInfo .plus {
	height: 120px;
}

.insert_matcingInfo .large div {
	display: flex;
	height: 30px;
}

.insert_matcingInfo .large div p {
	width: 180px;
}

.insert_matcingInfo .large div input {
	width: 100px;
}

.insert_matcingInfo .basic input {
	width: 146px;
	height: 10px;
	padding: 8px 6px;
	border: 1px solid #dddfe1;
	border-radius: 0px;
}

.product_insert_div_img img {
	width: 100px;
	height: 100px;
}

.product_insert_div_img input {
	width: 100px;
	height: 100px;
	cursor: pointer;
}

.product_insert_div_img input {
	margin-right: 30px;
}

#sizecolor input {
	width: 200px;
	margin-right: 20px;
}

/*사이즈 색상 추가버튼*/
/*버튼*/
.basic button {
	border-radius: 5px;
	color: #000000;
	background-color: dddfe1;
	font-size: 20px;
	text-decoration: none;
	border: 1px solid #d4d4d4;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.basic button:hover {
	background: #d4d4d4;
	text-decoration: none;
}

/*판매자 마이페이지 상품등록*/
/*운송장번호 셀렉트박스 여기부터*/

/*셀렉트 박스 여기까지*/

/*상품등록 이전페이지*/
/*버튼*/
.official_button .official_button_plus {
	display: flex;
	overflow: hidden;
	text-align: center;
	justify-content: center;
	border-radius: 0px;
	color: #000000;
	background-color: white;
	font-size: 13px;
	padding: 3px 2px 3px 2px;
	margin: 0px 15px 0px 15px;
	text-decoration: none;
	border: 1px solid #dddfe1;
	width: 130px;
	height: 30px;
	cursor: pointer;
	margin-left: 233px;
}

.product_insert_btn {
	display: flex;
	overflow: hidden;
	text-align: center;
}

.large div input, .product_insert_btn .insert_btn, .product_insert_btn .product_delclose_btn {
	border-radius: 0px;
	color: #000000;
	background-color: white;
	font-size: 13px;
	padding: 3px 2px 3px 2px;
	margin: 0px 15px 0px 15px;
	text-decoration: none;
	border: 1px solid #dddfe1;
	width: 130px;
	height: 30px;
	cursor: pointer;
}

.input-file-button:hover, .product_insert_btn .insert_btn:hover, .product_insert_btn .product_delclose_btn:hover {
	background: #d4d4d4;
	text-decoration: none;
}

.product_add_btn {
	display: flex;
	overflow: hidden;
	text-align: center;
	justify-content: center;
}

.product_add_btn .add_btn {
	border-radius: 0px;
	color: #000000;
	background-color: white;
	font-size: 13px;
	padding: 3px 2px 3px 2px;
	margin: 0px 15px 0px 15px;
	text-decoration: none;
	border: 1px solid #dddfe1;
	width: 80px;
	height: 30px;
	cursor: pointer;
}

.product_insert_btn .add_btn:hover {
	background: #d4d4d4;
	text-decoration: none;
}

/* 버튼 위치조절 */
.product_insert_btn {
	margin: 30px 230px 70px 230px;
}

#Career {
	width: 30px;
}

.chk_box {
	display: inline-block;
	font-size: 12px;
}

.basic .chk_box {
	display: inline-block;
	font-size: 12px;
	width: 300px;
}

#specialty {
	width: 30px;
}

#chk_major {
	width: 30px;
}

.content_product_insert_select_box {
	float: right;
}

.alert {
	width: 500px;
	height: 100px;
	border: 2.5px red solid;
	text-align: center;
}

.alert .question {
	font-size: 20px;
}

.alert .question .point {
	color: red;
	font-size: 25px;
}

.alert .Sparring_chk {
	margin-top: 20px;
	font-weight: bold;
}

.last_add div div {
	border: 1px solid #dddfe1;
	width: fit-content;
	margin-bottom: 10px;
}

#pro_chk {
	width: 30px;
}

.basic .content_product_insert_select_box {
	float: left;
}

#joinmiddle .content_bottom form {
	margin-left: 17%;
}

#address_content1 {
	display: flex;
}

#address_content1 #sample4_postcode {
	width: 100px;
	margin-right: 20px;
	vertical-align: top;
}

.joinmiddleline {
	height: 2px;
	width: 10800px;
	margin: 35px 0px 5px 0px;
	background-color: black;
}

* {
	border: 1px, solid, black;
}

/*매칭프로필테이블 프로필 이미지박스*/
#info_imgbox {
	text-align: center;
}

/*매칭프로필 테이블 프로필 믹네임 프로필바꾸기 박스*/
.info_table {
	font-size: 16px;
}

/*프로필 사진 변경하기 버튼*/
.info_table #nickname, .info_table #user_name {
	width: 400px;
	height: 10px;
	padding: 8px 6px;
	margin-left: 5px;
	margin-bottom: 10px;
	border: 1px solid #dddfe1;
	border-radius: 0px;
}

.info_table #user_photo {
	border: none;
}

.info_table table {
	margin-top: 70px;
}

#wideinfo {
	height: 50px;
}

.info_table .join td img {
	height: 150px;
	width: auto;
	max-width: 150px;
	margin: 15px 0px 15px 0px;
}

/* //matchinfo.html */