.payment {
  width: 1050px;
}

.stuff {
  width: 1050px;
  display: flex;
}

.stuff_kind {
  width: 700px;
}

.stuff_title {
  height: 35px;

  border-bottom: 2px solid black;
}
.stuff_title > p {
  font-size: 17px;
  font-weight: bold;
}

.stuff_info {
  margin-top: 20px;
}

.stuff_info {
  display: flex;
}

.stuff_info_img > img {
  width: 150px;
  height: 150px;
}

.stuff_info_details {
  margin: 0px 0px 0px 20px;
}
.stuff_info_details_remove {
  margin: 0px 0px 20px 500px;
}

.stuff_info_details_remove > a > button {
  width: 20px;
  height: 20px;
  padding-bottom: 10px;
}
.stuff_info_details_name {
  font-size: 15px;
  font-weight: bold;
}
.stuff_info_details_name_sub {
  font-size: 12px;
  font-weight: bold;
  color: #e60012;
  margin-top: 10px;
}
.stuff_price {
  display: flex;
  border-top: 1px solid rgb(216, 216, 216);
  margin-top: 20px;
  width: 530px;
}
.stuff_price_pay1 {
  margin: 10px 0px 0px 0px;
  font-size: 13px;
  font-weight: bold;
}
.stuff_price_pay2 {
  margin: 10px 0px 0px 340px;
  font-size: 18px;
  font-weight: bold;
}

.paykind_title {
  width: 700px;
  font-size: 23px;
  font-weight: bold;
  border-bottom: 2px solid black;
  padding: 0px 0px 30px 0px;
}

.paykind-section {
  width: 1050px;
  margin: auto;
}
.paykind {
  display: flex;
  width: 1050px;
  margin: auto;
}
/* pay table */

.paykind_table {
  width: 600px;
  height: 200px;
}

.paykind_table th {
  width: 100px;
  font-size: 13px;
}

.table_pay-radio {
  margin: 7px 0px 0px 0px;
}
.table_pay-radio0 {
  margin: 3px 0px 0px 0px;
}
.table_card {
  display: flex;
  margin: 15px 0px 0px 0px;
}

.table_pay-radio_select {
  margin: 0px 0px 0px 15px;
}

.btn_payment {
  margin: 80px 0px 50px 480px;
}

.btn_payment > button {
  background: #e60012;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 60px;
  font-size: 20px;
  margin-top: 10px;
  padding: 0px 50px 0px 50px;

  outline: none;
}
/* stuff all price */

.stuff_all_price {
  width: 390px;
  height: 300px;
  margin-left: 50px;
}
.payment_line {
  height: 2px;
  width: 700px;
  margin: 35px 0px 5px 0px;
  background-color: black;
}

/* sf section */

.sf_section {
  width: 1050px;
  display: flex;
}

.sf_form {
  width: 700px;
}
.sf_modal {
  width: 284px;
  margin-left: 65px;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
}

.modal_icon {
  color: rgb(216, 216, 216);
  font-size: 16px;
}

.sf_address {
  height: 150px;
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
}

.sf_address_item1,
.sf_address_item2,
.sf_price {
  margin: 0px 0px 0px 15px;
}

.sf_address_item1 {
  padding-top: 15px;
  margin: 0px 0px 0px 15px;
  height: 59px;
}
.sf_address_item2_text {
  font-size: 16px;
  font-weight: bold;
  margin: 0px 0px 10px 0px;
}

.sf_address_item2_fix {
  padding-bottom: 30px;
}

.sf_price {
  width: 244px;
  background-color: #fafafa;
}

.sf_amount {
  display: flex;
  margin: 20px 0px 10px 0px;
  justify-content: space-between;
}

.sf_tit {
  font-size: 16px;
}

.price_sf {
  font-size: 16px;
}

.sf_amount_lst {
  width: 284px;
  height: 30px;
  border-top: 1px solid #f2f2f2;
  display: flex;
  margin: 30px 0px 10px 0px;
  padding: 15px 0px 0px 0px;
  justify-content: space-between;
  background-color: #fafafa;
}

.sf_tit_lst {
  margin-left: 15px;
  font-weight: bold;
}

.price_sf_lst {
  margin-right: 25px;
  font-weight: bold;
}

.package > p {
  font-size: 13px;
}
