@charset "UTF-8";

/*스파링 상대 평가페이지*/
.pd{
    padding-bottom: 70px;
}

.spar_area {
    margin: 0px auto;
    display: flex;
    width: 900px;
  }

.sp_date{
    border-bottom: 1px solid gray;
    padding: 60px 0px 10px 0px;
    width: 900px;
}

h2 {
    color: #666;
}

#water{
	overflow:hidden;
	transform:scale(1); transition:transform 0.1s linear;
	cursor:pointer;
}
#water:hover{
  transform:scale(1.1);             /*  default */
  -webkit-transform:scale(1.1);     /*  크롬 */
  -moz-transform:scale(1.1);       /* FireFox */
  -o-transform:scale(1.1);  
  
}
#fire{
	overflow:hidden;
	transform:scale(1); transition:transform 0.1s linear;
	cursor:pointer;
}
#fire:hover{
	transform:scale(1.1);             /*  default */
  -webkit-transform:scale(1.1);     /*  크롬 */
  -moz-transform:scale(1.1);       /* FireFox */
  -o-transform:scale(1.1); 
}
#hack{
	overflow:hidden;
	transform:scale(1); transition:transform 0.1s linear;
	cursor:pointer;
}
#hack:hover{
	transform:scale(1.1);             /*  default */
  -webkit-transform:scale(1.1);     /*  크롬 */
  -moz-transform:scale(1.1);       /* FireFox */
  -o-transform:scale(1.1); 
}
.info{
    color: #C51212;
    font-weight: 600;
    display: block;
    font-size: 18px;
    line-height: 27px;
    margin-top: 3px;
}

.info_p {
    padding-top: 5px;
    padding-bottom: 50px;
}

.tit{
    padding: 0;
    font-size: 14px;
    color: #666;
    line-height: 18px;
    letter-spacing: -.3px;
}

/*상대방 선수 정보*/
.opp_info{
    display: flex;
    width: 900px;
  }
  
.opp_info_img{
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 10px;
}

.opp_tit span {
  display: block;
  font-size: 24px;
  margin-bottom: 5px;
}

.opp_tit {
  display: block;
  margin-top: 15px;
  font-size: 38px;
  text-align: center;
  color: #666;
  font-weight: 700;
}

.opp_tit2 {
  display: block;
  padding-bottom: 40px;
  font-size: 18px;
  text-align: center;
  color: #666;
  font-weight: 700;
}

.img_area{
  padding-top: 10px;
  padding-left: 220px;
  height: 180px;
}

.btn_img{
  float: left;
  padding-right: 10px;
}

.btn_area{
  padding-left: 400px;
}

.btn_opp button {
  margin: 0px auto;
  width: 100px;
  height: 56px;
  padding-bottom: 2px;
  border: 1px solid #C51212;
  border-radius: 3px;
  background: #C51212;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 52px;
  letter-spacing: -.1px;
  text-align: center;
}

.opp_comp{
  padding-top: 30px;
  padding-bottom: 50px;
}

.label_area{
  padding-bottom: 15px;
  text-align: center;
}

input{
  width: 80px;
}

label {
  font-size: 16px;
  margin-bottom: 5px;
}
  