@charset "UTF-8";

/*스파링매치 스토어*/
.header_menu {
  width: 500px;
  font-size: 16px;
  font-weight: bold;
}

.header_menu #no1 {
  margin: 30px 20px 0px 148px;
}

.header_menu #no2 {
  margin: 29px 20px 0px 93px;
}

/*아이콘*/
.header_icon {
  width: 200px;
  display: flex;
}
.header_icon img {
  width: 30px;
  margin: 20px 26px 0px 4px;
}


/* ///////////////////search//////////////// */
/*드롭다운 메뉴*/
.cate_select{
  width: 100px;
}

.event_cate{
  padding-top: 9px;
}


/*카테고리 영역*/
.ico_cate{
  height: 40px;
  width: 660px;
}

/*카테고리 설정*/
.ico_cate .tit {
  float: left;
  padding: 15px 0px 0px 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
  letter-spacing: -.3px;
}

/*카테고리 셀렉된 메뉴*/
.ico_cate #on {
  float: left;
  padding: 15px 0px 0px 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #E60012;
  letter-spacing: -.3px;
}


/*카테고리 검색영역*/
.searching_item {
  display: flex;
  width: 1050px;
  border-bottom: 1px solid gray;
  padding: 60px 0px 15px 0px;
}

/*검색버튼*/
#form_gim {
  height: 40px;
  width: 310px;
  border: 1px solid black;
  background: #ffffff;
  border-radius: 20px;
  border: 0;
  outline: none;
  background-color: #f7f7f7;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: gray;
}
input:-ms-input-placeholder {
  font-size: 15px;
}

.input-text {
  margin: 13px 0px 2px 20px;
  font-size: 15px;
  width: 250px;
  padding: 0px;
  border: 1px;
  float: left;
  outline: none;
  background-color: #f7f7f7;
  color: black;
}
.gim_btn {
  border: none;
  background-color: #f7f7f7;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
}

.fa-search {
  color: gray;
}
.fa-search:hover {
  color: black;
}
.address_btn {
  width: 80px;
  margin-left: 10px;
  border-radius: 20px;
  border: 0;
  font-weight: bold;
  color: gray;
}
.address_btn:hover {
  color: white;
  background-color: rgb(122, 122, 122);
}



/*///////////////판매상품 리스트//////////////*/
.wrap2 {
  max-width: 100%;
  overflow: hidden;
}
.wrap2 .container2 {
  width: 1106px;
  margin: 0 auto;
  overflow: hidden;
}


.item {
  float: left;
  box-sizing: border-box;
  padding: 25px 32px 0px 28px;
}


/*상품이름*/
.info .name {
  display: block;
  overflow: hidden;
  max-height: 58px;
  font-weight: 400;
  font-size: 20px;
  color: #333;
  line-height: 29px;
  padding-top: 15px;
  padding-bottom: 5px;
}

/*상품가격*/
.info .price {
  font-weight: 800;
  font-size: 18px;
  color: #333;
}

/*상품설명*/
.info .desc {
  display: block;
  padding: 8px 0px 50px 0px;
  font-size: 13px;
  color: #999;
  line-height: 19px;
}

/*줄간격 여백*/
.info .tag {
  padding-bottom: 30px;
}



/*////////////////페이징////////////////*/
/* 게시판 페이징 */
#paging {
	margin: 0px auto;
	width: 310px;
}

#paging ul {margin: 10px 5px 10px 5px;}
#paging ul>li{
	float: left;
	margin: 0px 8px 0px 8px;
}

#paging ul>li.active{
	font-size: 14px;
	font-weight: bold;
}



/*/////////////////////상품 상세페이지///////////////////*/
.proBody{
	position: relative;
}

/*상단여백*/
#sectionView{
  height: 800px;
}

.searching_item {
  display: flex;
  width: 1050px;
  border-bottom: 1px solid white;
  padding: 60px 0px 15px 0px;
}

/*상품정보 영역*/
#sectionView .goods_info {
  float: right;
  width: 560px;
  margin-top: 19px;
  border-top: 1px solid #f4f4f4;
}

#cartPut:after {
  content: "";
  display: block;
  overflow: hidden;
  width: 100%;
  height: 0;
}

div, th, td, li, dt, dd, p {
  word-break: break-all;
}

div {
  display: block;
}

.section_view * {
  letter-spacing: -.5px;
}

/*상품정보 [브랜드]상품명*/
#sectionView .goods_area {
  color: #333;
  float: right;
  width: 560px;
  padding: 10px 0px 29px 0px;
}

#sectionView .goods_name .name {
  display: block;
  padding-right: 60px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  word-break: break-all;
}


/*상품가격 영역*/
#sectionView .goods_price {
  color: #333;
  display: block;
  padding-top: 4px;
  padding-bottom: 30px;
}

/*상품가격*/
#sectionView .goods_price .price {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0;
  word-break: break-all;
}

/*로그인 혜택안내*/
#sectionView .goods_price .not_login{
  display: block;
  padding-top: 7px;
  font-size: 14px;
  color: #c51212;
  line-height: 20px;
  letter-spacing: 0;
}

/*상품정보 tit*/
#sectionView .goods_info .tit {
  float: left;
  width: 150px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
}

/*상품정보 리스트 가로줄*/
#sectionView .goods_info .list {
  overflow: hidden;
  padding: 18px 0;
  border-top: 1px solid #f4f4f4;
}

/*상품 선택*/
#cartPut .box_select .name {
  float: left;
  width: 150px;
  padding-top: 9px;
  font-weight: 400;
  font-size: 14px;
  color: #666;
  line-height: 20px;
  letter-spacing: -.5px;
}

#cartPut * {
  font-family: noto sans;
  color: #333;
  letter-spacing: 0;
}

/*상품선택 셀렉박스*/
select {
  width: 160px;
  padding: 4px 3px;
  font-family: inherit;
  appearance: none;
  border: 1px solid #dddfe1;
  border-radius: 0px;
  cursor: pointer;
}

/*선택된 상품*/
#cartPut .list li {
  float: right;
  width: 384px;
  padding: 11px 10px 11px 15px;
  margin-bottom: -1px;
  border: 1px solid #f4f4f4;
}

#cartPut .list .name {
  padding: 0 63px 0 0;
}

#cartPut .list .name {
  display: block;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -.6px;
}

/*선택상품 삭제버튼*/
#cartPut .btn_del {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -1px;
  width: 24px;
  height: 24px;
  border: 0;
  background: url(https://res.kurly.com/pc/ico/2010/ico_cartput_del_24x25.svg) no-repeat 50% 50%;
  background-size: 24px 25px;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

/*수량버튼*/
#cartPut .list .option {
  padding-top: 8px;
}



#cartPut .list .btn {
  overflow: hidden;
  float: left;
  width: 28px;
  height: 28px;
  border: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

#cartPut .list .inp {
  float: left;
  width: 30px;
  height: 30px;
  margin-right: -1px;
  padding: 0 0 4px;
  border: 0;
  background-color: #fff;
  font-size: 14px;
  color: #000;
  line-height: 18px;
  text-align: center;
}

#cartPut .list .dc_price {
  float: right;
}

/*총 상품금액*/
.price {
	padding-top: 15px;
}

.price_total .total {
  text-align: right;
  padding-bottom: 30px;
}

.price_total .total .tit {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  vertical-align: 2px;
}

/*상품금액수*/
.price_total .total .num {
  padding-left: 8px;
  font-weight: 800;
  font-size: 32px;
  line-height: 32px;
}

/*상품금액원*/
.price_total .total .won {
  padding-left: 2px;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  vertical-align: -1px;
}

/*적립혜택 제공*/
.price_total .total .txt_point {
  padding-top: 13px;
}

/*장바구니 바로구매 버튼*/
.price_total .group_btn .txt_type {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 2px;
  border: 0;
  background: 0 0;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 52px;
  letter-spacing: -.1px;
  text-align: center;
}

/*장바구니*/
.price_total .view_function .btn_cart {
  overflow: hidden;
  float: right;
  width: 128px;
  height: 56px;
  margin-left: 12px;
  padding-bottom: 2px;
  border: 1px solid #C51212;
  border-radius: 3px;
  background: #fff;
  font-weight: 700;
  font-size: 16px;
  color: #C51212;
  line-height: 52px;
  letter-spacing: -.1px;
  text-align: center;
}

/*바로구매*/
.price_total .view_function .btn_buy {
  overflow: hidden;
  float: right;
  width: 128px;
  height: 56px;
  margin-left: 12px;
  padding-bottom: 2px;
  border: 1px solid #C51212;
  border-radius: 3px;
  background: #C51212;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 52px;
  letter-spacing: -.1px;
  text-align: center;
}


/*상세정보 영역/////*/
.layout-wrapper.goods-view-area {
  padding-right: 40px;
}

.layout-wrapper {
  position: relative;
  width: 1050px;
  height: 100%;
  margin: 0 auto;
}

/*상세정보 탭*/
/*탭 ul 하단*/
.goods_view_tab {
  width: 1050px;
  border-bottom: #4c4c4c;
  height: 50px;
}

/*탭 디자인*/
.goods_view_tab a {
  position: relative;
  top: 1px;
  width: 168px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  display: block;
  color: #4c4c4c;
  font-size: 14px;
  background-color: #f0eef1;
  border: 1px solid #bfbfbf;
  border-bottom: 0;
  border-left: none;
}

/*탭 왼쪽줄*/
.goods_tab {
  border-left: 1px solid #bfbfbf;
  width: 170px;
  height: 47px;
}

/*탭 옆으로붙이기*/
.goods_tab .goods_view_tab li{
    float: left;
    vertical-align: top;
}

/*상세정보/////*/
/*이미지*/
.goods_view {
  padding-top: 50px;
  padding-bottom: 50px;
}


/*상품정보(주의사항 등)*/
#goods_infomation{
  padding-top: 30px;
  padding-bottom: 100px;
}

table.extra-information th {
  width: 15%;
  background: #f5f5f5;
  color: #515151;
}

table.extra-information td {
  width: 35%;
  color: #666;
}

table.extra-information th, table.extra-information td {
  font-weight: 400;
  text-align: left;
  padding-left: 15px;
  /*background: #fff;*/
  font-family: Dotum;
  font-size: 11px;
  height: 28px;
  padding: 5px 0 5px 10px;
  border-width: 1px;
  line-height: 20px;
}


/*리뷰/////*/
/*리뷰 설명*/
#goods_board{
  padding-top: 30px;
}

.xans-product-additional div.board h2 {
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 5px;
}

.list_type1.old .txt {
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  color: #666;
  line-height: 18px;
  letter-spacing: -.3px;
}


/*셀렉박스*/
/*셀렉박스 왼쪽 여백..*/
.left_sort{
  float: left;
  padding-right: 864px;
  color: #fff;
}

.xans-product-additional .sort select {
  margin: 0 2px 0 0;
  border: 1px solid #bfbfbf;
  line-height: 34px;
  height: 34px;
  vertical-align: middle;
  padding-bottom: 5px;
}



select {
  /*-webkit-writing-mode: horizontal-tb !important;*/
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: menulist;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: default;
  margin: 0em;
  font: 400 13.3333px Arial;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

/*리뷰 게시판*/
/*번호 제목 작성자 작성일 도움 조회*/
.board{
  padding-bottom: 150px;
}

.xans-product-additional table.xans-board-listheader {
  margin: 15px 0 0;
  color: #353535;
  font-size: 12px;
  line-height: 140%;
  table-layout: fixed;
}

.xans-board-listheader {
  border-top: 2px solid#C51212;
  font-size: 13px;
  line-height: 140%;
}

.xans-product-additional table.xans-board-listheader th {
  padding: 25px 0 23px;
  vertical-align: middle;
  font-size: 12px;
}


/*리뷰작성글 리스트*/
.goods_board .tbl_newtype1 .subject {
  padding-left: 50px;
  text-align: left;
}

.xans-product-additional table.tbl_newtype1 td {
  height: auto;
  padding: 22px 3px 23px;
}

.xans-product-additional table.xans-board-listheaderd td {
  /*padding: 25px 3px 23px;*/
  border-top: 1px solid #e3e3e3;
  text-align: center;
  vertical-align: middle;
}

.xans-product-additional table.tbl_newtype1 td.user_grade {
  padding: 22px 0 23px;
  line-height: 19px;
  text-align: left;
}

/*후기쓰기 버튼 영역*/
.xans-product-additional div.board .btnArea {
  padding: 10px 0;
  text-align: right;
  width: 100%;
  display: table;
  border-top: 1px solid #C51212;
}

/*후기쓰기 버튼*/
element.style {
  line-height: 30px;
  width: 130px;
}

.xans-product-additional .btnArea .bhs_button {
  margin: 20px 0 20px 5px;
}

.bhs_button {
  width: 150px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  background-color: #c75353;
  border: 1px solid #C51212;
  color: #fff;
  font-size: 15px;
  float: right;
  margin-left: 2px;
  font-size: 13px;
}

.board_hidden{
  color: #fff;
}


/*///////////////////결제완료 페이지///////////////////*/
.pay_cp{
  display: flex;
  width: 1050px;
}

.ico_cp{
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin: 0px auto;
  padding-top: 50px;
  padding-bottom: 10px;
}

.pay_tit span {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
}

.pay_tit {
  display: block;
  margin-top: 15px;
  padding-bottom: 30px;
  font-size: 38px;
  text-align: center;
  color: #666;
  font-weight: 400;
  font-weight: 700;
}

.btn_area{
  padding-left: 368px;
}

.btn_pay{
  float: left;
  padding-right: 10px;
}

.btn_pay button {
  margin: 0px auto;
  width: 150px;
  height: 56px;
  padding-bottom: 2px;
  border: 1px solid #C51212;
  border-radius: 3px;
  background: #C51212;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  line-height: 52px;
  letter-spacing: -.1px;
  text-align: center;
}

/*추천 매칭/상품 리스트*/
.goods-add-product {
  padding-top: 100px;
  position: relative;
}

.goods-add-product-title {
  padding-left: 144px;
  font-size: 13px;
  font-weight: 900;
  line-height: 1.8;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.goods-add-product body, input, select, textarea, button {
  font-family: noto sans,malgun gothic,AppleGothic,dotum;
  line-height: 1;
  letter-spacing: -.05em;
  color: #4c4c4c;
  font-size: 12px;
  max-width: 100%;
}

.__slide-mover {
  padding-left: 144px;
  position: absolute;
  left: 0;
  width: 1000%;
  height: 100%;
}

.__slide-item {
  float: left;
}

.goods-add-product-item {
  float: left;
  width: 180px;
  height: 310px;
  margin-right: 10px;
  border: 1px solid #ddd;
}

.goods-add-product-item-image {
  width: 100%;
  height: 100%;
}

.goods-add-product img {
  border: 0;
}

.goods-add-product-item-content {
    height: 120px;
}

.goods-add-product-item-content-wrapper {
  padding: 10px;
  position: relative;
  min-height: 75px;
}

.goods-add-product .goods-add-product-item-name {
  overflow: hidden;
  width: 100%;
  height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}

.goods-add-product-item-name {
  font-size: 14px;
  font-weight: 700;
  color: #4c4c4c;
  line-height: 18px;
}

.goods-add-product-item-price {
  font-size: 14px;
  position: absolute;
  left: 10px;
}

/*슬라이드 버튼*/
.goods-add-product-move.goods-add-product-move-left {
  left: 0;
  background-image: url(https://res.kurly.com/pc/etc/old/images/common/slide-sub-left-button-black.png);
  background-position: left;
}

.goods-add-product-move.goods-add-product-move-right {
  right: 0;
  background-image: url(https://res.kurly.com/pc/etc/old/images/common/slide-sub-right-button-black.png);
  background-position: right;
}

.goods-add-product-move {
  position: absolute;
  text-indent: -9999px;
  background-color: transparent;
  border: 0;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  z-index: 3;
  width: 30px;
  background-position: 50% 50%;
}


/*////////////////////////문의하기//////////////////////////*/

.section_prdwrite .head_aticle .tit {
  font-size: 16px;
  line-height: 20px;
  font-family: "Noto Sans";
  font-weight: 700;
  color: #333;
  letter-spacing: -0.6px;
  height: 36px;
}

.section_prdwrite .head_aticle {
  padding-bottom: 12px;
}

.section_prdwrite .head_aticle .tit_sub {
  padding-left: 11px;
  font-size: 12px;
  line-height: 20px;
  font-family: "Noto Sans";
  font-weight: 700;
  color: #939393;
  letter-spacing: -0.6px;
}

.list_type1 .txt {
  overflow: hidden;
  padding: 0;
  font-size: 12px;
  color: #666;
  line-height: 18px;
  letter-spacing: -.3px;
}

.list_type1 li {
  overflow: hidden;
  width: 100%;
}

/*문의테이블*/
.page_aticle * {
  font-weight: 400;
  letter-spacing: 0;
}

.page_aticle tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.page_aticle .tbl_type2 {
  border-top: 2px solid #333;
}

.page_aticle table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section_prdwrite tr:first-child th, .section_prdwrite tr:first-child td {
  border-top: 0 none;
}

.page_aticle td, th {
  padding: 0;
}

.page_aticle .tbl th, .page_aticle .tbl td {
  word-break: break-all;
}

.section_prdwrite th {
  padding: 20px 0px 20px 20px;
  border-top: 1px solid #e8e8e8;
  background-color: #f7f5f8;
  font-size: 14px;
  color: #4c4c4c;
  line-height: 21px;
  letter-spacing: -0.7px;
  text-align: left;
}

.section_prdwrite td {
  padding: 10px 0 10px 10px;
  border-top: 1px solid #e8e8e8;
}

.section_prdwrite th {
  padding-left: 20px;
  border-top: 1px solid #e8e8e8;
  background-color: #f7f5f4;
  font-size: 14px;
  color: #4c4c4c;
  line-height: 21px;
  letter-spacing: -0.7px;
  text-align: left;
}

/*입력란*/
.section_prdwrite input[type="text"].read_only {
  background-color: #f9f9f9;
}

.section_prdwrite input[type="text"] {
  float: left;
  width: 200px;
  height: 40px;
  margin-right: 10px;
  padding-left: 10px;
  border: 1px solid #dddfe1;
  font-size: 14px;
  color: #949296;
  line-height: 20px;
}

.section_prdwrite .label_check {
  float: left;
  margin-top: 10px;
  font-size: 12px;
  color: #4c4c4c;
  letter-spacing: -0.6px;
}

.section_prdwrite .subject input[type="text"] {
  width: 910px;
  margin: 0;
}

.textarea_size{
  width: 1048px;
  height: 800px;
  border-color: #333;
}

/*문의 버튼영역*/
.group_btn_qna {
  overflow: hidden;
  padding-top: 50px;
  text-align: center;
}

.group_btn_qna .inner_btn {
  display: inline-block;
}

.group_btn_qna .btn {
  float: left;
  width: 150px;
  height: 42px;
  margin-right: 5px;
  border: 1px solid #C51212;
  background-color: #fff;
  font-size: 14px;
  line-height: 40px;
  font-family: "Noto Sans";
  font-weight: 700;
  color: #C51212;
  letter-spacing: -0.6px;
}

.group_btn .btn_submit {
  margin-right: 0;
  border: 1px solid #C51212;
  background-color: #C51212;
  color: #fff;
}

/*파일첨부*/
input.upload_text {/*읽기전용 인풋텍스트*/
	float:left;
	width:230px;/* 버튼 포함 전체 가로 길이*/
	height:19px;
	line-height:19px;
	padding:0 3px;
	border:1px solid #bbb;
}

div.upload-btn_wrap input.input_file {/*파일찾기 폼 투명하게*/
	position:absolute;
	top:0;
	right:0;
	cursor:pointer;
	opacity:0;
	filter:alpha(opacity=0);
	-ms-filter:"alpha(opacity=0)";
	-moz-opacity:0;
}
div.upload-btn_wrap {/*버튼테두리 감싼 div*/
	overflow:hidden;
	position:relative;
	float:left;
	width:70px;/*width, height 값은 button(찾아보기)값과 같아야함 */
	height:21px;
	padding-left:3px;
}
div.upload-btn_wrap button {/*버튼 div*/
	width:70px;
	height:21px;
	font-weight:bold;
	background:#333;
	border:1px solid #333;
	color:#fff;
}

.file_up{
  height: 50px;
}