@import url("header.css");
@import url("sparringmach.css");
@import url("rental.css");
@import url("rentaldetails.css");
@import url("sparringpost.css");
@import url("payment.css");
@import url("cart.css");
@import url("machingfrom.css");
@import url("matchinfo.css");
/**glovar**/
* {
  color: #333;
  /* border: 1px solid black; */
}
/**Sparring mach**/
.wrap {
  max-width: 100%;
  overflow: hidden;
}

.container {
  width: 1050px;
  margin: auto;
}
