<!DOCTYPE html>
<html lang="kor">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알림</title>
	<link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/buylist.css">
</head>

<body>
    <body>
        <div class="wrap">
            <div class="container">
              <div class="header">
                <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
                <div class="header_menu">
                  <ul>
                    <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
                    <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
                  </ul>
                </div>
                <div class="header_icon">
                  <div><a href="./buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
                  <div><a href="./html/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
                  <div><a href="./html/cart.html"><img src="../../../image/cart3.png" ></a></div>
                </div>  
            </div><!--//header//-->
              <div class="middle">
                <div class="side_menu">
                  <div class="side_menu_mypage">
                    <span>마이페이지</span>
                  </div>
                  <ul id="side_menu_user">
                    <li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
                    <li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
                    <li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
                    <li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
                    <li><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
                    <li class="side_menu_last"><a href=""><span class="menu">판매관리
                        </span></a></li>
                  </ul>
                </div>
                <!--//side_menu//-->
                <div class="content">
                    <div class="alarm_header">
                        구매내역
                    </div>
                    <!--//alarm_header//-->

                    <div class="search_date">
                        <h3 class="screen_out">
                            기간선택
                        </h3>
                        <a href="" class="btn_layer">
                            전체기간
                        </a>
                        <ul class="layer_search" style="display:none">
                            <li>
                                <a href="" class="on">
                                    전체기간
                                    ::after
                                </a>
                            </li>

                            <li>
                                <a href="" data-year="2021">
                                    2021년
                                </a>
                            </li>

                            <li>
                                <a href="" data-year="2020">
                                    2020년
                                </a>
                            </li>

                            <li>
                                <a href="" data-year="2019">
                                    2019년
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="line"></div>

                    <div class="sub_tmenu">
                        <ul>
                            <li class="sub_on">
                                <a href="" class="t1_1">
                                    <span>배송상품</span>
                                </a>
                            </li>

                            <li class="sub_on">
                                <a href="" class="t1_1">
                                    <span>매칭상품</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- <ul class="list_order">
                        <li class="no_data">
                            주문내역이 없습니다.
                        </li>


                    </ul> -->

                    <div class="goods_pay_section">
                        <div class="goods_group">
                            <ul class="goods_group_list">
                                <li id="" class="goods_pay_item">
                                    <div class="goods_item">
                                        <a href="" class="goods_thumb">
                                            <img src="../../../image/글러브.jpg" alt="파워글러브" width="90" height="90">
                                        </a>

                                        <div class="goods_info">
                                            <a href="" class="goods">
                                                <p class="name">
                                                    파워글러브
                                                </p>
                                                <ul class="info">
                                                    <li>
                                                        <span class="blind">상품금액</span>
                                                        25,000원
                                                    </li>

                                                    <li class="date">
                                                        <span class="blind">상품구매날짜</span>
                                                        2021.03.08
                                                    </li>
                                                </ul>
                                            </a>
                                            <span class="state_statusName">배송완료</span>
                                            <p class="guide">
                                                배송이 완료되었습니다. 감사합니다.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="seller_item">
                                        <div class="inner">
                                            <span class="seller">복싱몰</span>
                                            <span class="tel">02-1234-5678</span>
                                            <a href="" class="state_button qna _click">
                                                문의하기
                                            </a>
                                            <!-- 네이버페이 문의하기 참조 -->
                                        </div>
                                    </div>

                                    <div class="test">

                                        <div class="test_2">

                                            <div class="area_layer">
                                                <a href="" class="state_button function _click">
                                                    <span>재구매</span>
                                                </a>
                                                <!-- 네이버페이 재구매 참조 -->
                                            </div>

                                        </div>

                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!--//alram_list-->
            </div>
            <!--//alarm_content-->
            <!-- //alarm_page// -->
        </div>
        <!--//middle-->
    </div>
    <!--//container-->
    </div>
    <!--//wrap-->
</body>

</html>