<!DOCTYPE html>
<html lang="kor">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장바구니</title>
	<link rel="stylesheet" href="../../../css/header.css">
  <link rel="stylesheet" href="../../../css/cart.css">
</head>

<body>
  <div class="wrap">
    <div class="container">
      <div class="header">
        <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
        <div class="header_menu">
          <ul>
            <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
            <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
          </ul>
        </div>
        <div class="header_icon">
          <div><a href="./buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
          <div><a href="./html/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
          <div><a href="./html/cart.html"><img src="../../../image/cart3.png" ></a></div>
        </div>  
    </div><!--//header//-->
      <div class="middle">
        <div class="side_menu">
          <div class="side_menu_mypage">
            <span>마이페이지</span>
          </div>
          <ul id="side_menu_user">
            <li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
            <li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
            <li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
            <li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
            <li><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
            <li class="side_menu_last"><a href=""><span class="menu">판매관리
                </span></a></li>
          </ul>
        </div>
        <!--//side_menu//-->

        <div class="content">
          <div class="cart_header">
            장바구니
          </div>
          <div class="line"></div>

          <form>

            <div id="cartItemList" class="only_pc">

              <div>
                <div class="cart_item">
                  <div class="cart_select">
                    <div class="inner_select">
                      <label class="check">
                        <input type="checkbox" name="checkAll" checked>
                        <span class="ico"></span>
                        전체선택
                      </label>
                      <a href="" class="btn_delete">
                        선택삭제
                      </a>
                    </div>
                  </div>

                  <div class="box room">


                    <ul class="list">
                      <li>
                        <div class="item">
                          <label class="check" for="">
                            <input type="checkbox" id="" name="chkItem" data-item-id="" data-item-no=""
                              data-item-parent-no="" checked>
                            <span class="ico"></span>
                          </label>

                          <div class="name">
                            <div class="inner_name">
                              <a href="" class="package">권투글러브</a>
                              <div class="info"></div>
                            </div>
                          </div>

                          <div class="goods">
                            <a href="" class="thumb" style="background-image: url(../../../image/글러브.jpg);">상품이미지</a>
                            <div class="price">
                              <div class="in_price">
                                <span class="selling">25,000
                                  <span class="won">원</span>
                                </span>

                                <span class="cost">
                                  25,000
                                  <span class="won">원</span>
                                </span>

                                <p class="noti"></p>
                              </div>


                            </div>
                          </div>

                          <button type="button" class="btn_delete" data-item-id="" data-item-no=""
                            data-type="">상품삭제</button>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="box room">


                    <ul class="list">
                      <li>
                        <div class="item">
                          <label class="check" for="">
                            <input type="checkbox" id="" name="chkItem" data-item-id="" data-item-no=""
                              data-item-parent-no="" checked>
                            <span class="ico"></span>
                          </label>

                          <div class="name">
                            <div class="inner_name">
                              <a href="" class="package">권투글러브</a>
                              <div class="info"></div>
                            </div>
                          </div>

                          <div class="goods">
                            <a href="" class="thumb" style="background-image: url(../../../image/글러브.jpg);">상품이미지</a>
                            <div class="price">
                              <div class="in_price">
                                <span class="selling">25,000
                                  <span class="won">원</span>
                                </span>

                                <span class="cost">
                                  25,000
                                  <span class="won">원</span>
                                </span>

                                <p class="noti"></p>
                              </div>


                            </div>
                          </div>

                          <button type="button" class="btn_delete" data-item-id="" data-item-no=""
                            data-type="">상품삭제</button>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="box room">


                    <ul class="list">
                      <li>
                        <div class="item">
                          <label class="check" for="">
                            <input type="checkbox" id="" name="chkItem" data-item-id="" data-item-no=""
                              data-item-parent-no="" checked>
                            <span class="ico"></span>
                          </label>

                          <div class="name">
                            <div class="inner_name">
                              <a href="" class="package">유니폼</a>
                              <div class="info"></div>
                            </div>
                          </div>

                          <div class="goods">
                            <a href="" class="thumb" style="background-image: url(../../../image/복싱복.jpg);">상품이미지</a>
                            <div class="price">
                              <div class="in_price">
                                <span class="selling">25,000
                                  <span class="won">원</span>
                                </span>

                                <span class="cost">
                                  25,000
                                  <span class="won">원</span>
                                </span>

                                <p class="noti"></p>
                              </div>


                            </div>
                          </div>

                          <button type="button" class="btn_delete" data-item-id="" data-item-no=""
                            data-type="">상품삭제</button>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="box room">


                    <ul class="list">
                      <li>
                        <div class="item">
                          <label class="check" for="">
                            <input type="checkbox" id="" name="chkItem" data-item-id="" data-item-no=""
                              data-item-parent-no="" checked>
                            <span class="ico"></span>
                          </label>

                          <div class="name">
                            <div class="inner_name">
                              <a href="" class="package">유니폼</a>
                              <div class="info"></div>
                            </div>
                          </div>

                          <div class="goods">
                            <a href="" class="thumb" style="background-image: url(../../../image/복싱복.jpg);">상품이미지</a>
                            <div class="price">
                              <div class="in_price">
                                <span class="selling">25,000
                                  <span class="won">원</span>
                                </span>

                                <span class="cost">
                                  25,000
                                  <span class="won">원</span>
                                </span>

                                <p class="noti"></p>
                              </div>


                            </div>
                          </div>

                          <button type="button" class="btn_delete" data-item-id="" data-item-no=""
                            data-type="">상품삭제</button>
                        </div>
                      </li>
                    </ul>
                  </div>


                </div>


                <div class="cart_result">
                  <div class="inner_result">
                    <div class="cart_delivery">
                      <h3 class="tit">배송지</h3>
                      <div class="address">
                        <p class="addr">
                          서울시 강남구
                        </p>
                        <a href="" class="btn_default">배송지 변경</a>
                      </div>
                    </div>

                    <div class="amount_view">
                      <dl class="amount">
                        <dt class="tit">상품금액</dt>
                        <dd class="price">
                          <span class="num">25,000</span>
                          <span class="won">원</span>
                        </dd>
                      </dl>

                      <dl class="amount">
                        <dt class="tit">할인금액</dt>
                        <dd class="price">
                          <span class="num minus">0</span>
                          <span class="won">원</span>
                        </dd>
                      </dl>

                      <dl class="amount">
                        <dt class="tit">배송비</dt>
                        <dd class="price">
                          <span class="num">3,000</span>
                          <span class="won">원</span>
                        </dd>
                      </dl>

                      <dl class="amount lst">
                        <dt class="tit">결제금액</dt>
                        <dd class="price">
                          <span class="num">28,000</span>
                          <span class="won">원</span>
                        </dd>
                      </dl>

                      <div class="btn_submit">
                        <button type="submit" class="btn active">주문하기</button>
                      </div>

                    </div>

                  </div>

                </div>

              </div>

            </div>

          </form>

          <!-- //cart_page// -->
        </div>
        <!--middle-->
      </div>
      <!--//container-->
    </div>
    <!--//wrap-->
</body>

</html>