<!DOCTYPE html>
<html lang="kor">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>매칭프로필관리</title>
	<link rel="stylesheet" href="../../../css/header.css">
	<link rel="stylesheet" href="../../../css/info_update.css">
</head>

<body>
	<div class="wrap">
		<div class="container">
		  <div class="header">
			<div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
			<div class="header_menu">
			  <ul>
				<li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
				<li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
			  </ul>
			</div>
			<div class="header_icon">
			  <div><a href="./buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
			  <div><a href="./html/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
			  <div><a href="./html/cart.html"><img src="../../../image/cart3.png" ></a></div>
			</div>  
		</div><!--//header//-->
		  <div class="middle">
			<div class="side_menu">
			  <div class="side_menu_mypage">
				<span>마이페이지</span>
			  </div>
			  <ul id="side_menu_user">
				<li><a href="./html/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
				<li><a href="./html/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
				<li><a href="./html/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
				<li><a href=""><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
				<li><a href="./html/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
				<li class="side_menu_last"><a href=""><span class="menu">판매관리
					</span></a></li>
			  </ul>
			</div>
			<!--//side_menu//-->

				<div class="content_mypage">
					<div class="content_info_update_header">
						<div>
							매칭프로필관리
						</div>
					</div>
					<!--//content_matchingInfo_header//-->
					<div class="line"></div>
					<div class="content_bottom">
						<form>
							<div class="match_table">
								<table class="">
									<colgroup>
										<col style="width: 200px">
										<col style="width: 600px">
									</colgroup>
									<tr>
										<td id="imgbox">
											<img src="../../../image/마이페이지 남성_글러브.png">
										</td>
										<td>
											<div class="add_div_box">
													<div>닉네임(아이디)</div>
													<div><button class="add_btn">프로필 사진 변경하기</button></div>
											</div>
										</td>
									</tr>
									<tr id="address">
										<td id="address_title"><label for="address">주소</label></td>
										<td id="address_content">
											<div id="add_search"><div id="address_content1"><input type="text" id="address" placeholder="주소"></div> 
											<button id="search_btn">검색하기</button></div>
											<div id="address_content2"><input type="text" id="address" placeholder="상세주소"></div>
										</td>
									</tr>

								</table>
							</div><!--match_table-->
							<div class="info_update_btn">
								<button class="insert_btn">저장</button>
								<button class="delclose_btn">취소</button>
							</div>
						</form>
					</div>
					<!--//content_bottom-->
				</div>
				<!--//content_mypage-->
			</div>
			<!--//middle-->	
		</div>
		<!--//container-->
	</div>
	<!--wrap-->	


</body>

</html>