<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배송정보입력</title>
    <link rel="stylesheet" href="../../../css/header.css">
    <link rel="stylesheet" href="../../../css/delivery.css">
</head>
<body>
    
    
    <div class="wrap">
        <div class="container">
          <div class="header">
            <div class="header_logo"><a href=""><img src="../../../image/로고.png"></a></div>
            <div class="header_menu">
              <ul>
                <li id="no1"><a href="../../matching/스파링 매칭.html"><span>스파링 매치</span></a></li>
                <li id="no2"><a href="../../store/storeList.html"><span>스토어</span></a></li>
              </ul>
            </div>
            <div class="header_icon">
              <div><a href="../mypage_buy/buylist.html"><img src="../../../image/마이페이지 남성_글러브.png" ></a></div>
              <div><a href="../mypage_buy/alarm.html"><img src="../../../image/bell_2.png" ></a></div>
              <div><a href="../mypage_buy/cart.html"><img src="../../../image/cart3.png" ></a></div>
            </div>  
        </div><!--//header//-->
            <div class="middle">
                <div class="side_menu">
                    <div class="side_menu_mypage">
                        <span>마이페이지</span>
                    </div>
                    <ul id="side_menu_delivery">
                        <li><span class="menu">배송판매관리</span></li>
                        <li><a href="./예약판매자2_마이페이지_사업자계정1.html"><span class="menu">사업자계정 관리</span><span class="arrow">></span></a></li>
                        <li><a href="./배송판매자_마이페이지_상품관리.html"><span class="menu">상품관리</span><span class="arrow">></span></a></li>
                        <li><a href="./배송판매자_마이페이지_배송관리.html"><span class="menu">배송관리</span><span class="arrow">></span></a></li>
                        <li class="side_menu_last"><a href="./배송판매자_마이페이지_수익관리.html"><span class="menu">수익관리</span><span class="arrow">></span></a></li>
                    </ul>
                    <ul id="side_menu_user">
                        <li><a href="../mypage_buy/alarm.html"><span class="menu">알림</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/cart.html"><span class="menu">장바구니</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/buylist.html"><span class="menu">구매내역</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/info_update.html"><span class="menu">회원정보관리</span><span class="arrow">></span></a></li>
                        <li><a href="../mypage_buy/matchinfo.html"><span class="menu">매칭프로필관리</span><span class="arrow">></span></a></li>
                        <li class="side_menu_last"><a href=""><span class="menu">판매관리
                        </span></a></li>
                    </ul>
                </div><!--//side_menu//-->


                <div class="content_product">
                    <div class="content_delevery_product_header">
                        <div id=""> 
                            구매내역
                        </div>    
                    </div>  <!--//content_delevery_product_header//-->      
                    <div class="buy_info">
                        <div class="buy_content_delevery_num">
                            주문번호 135648654123   
                        </div>   
                        <div>
                            구매일자 2020/08/31   
                        </div> 
                    </div>                          
                    <div class="content_delevery_num_line">
                    </div>   
                    <div class="buy_delivery_info">
                        <div class="buy_deleverymanage_list">
                            <div class="buy_delevery_product_content">
                                <div class="buy_delevery_product_content_img">
                                    <img src="../../../image/글러브.jpg">
                                </div>
                                <div class="buy_deleverymanage_list1">
                                    <table>
                                        <tr>
                                            <td>[에버레스트] 글러브</td>
                                        </tr>
                                        <tr>
                                            <td>38,000원 | 블랙 1개</td>
                                        </tr>
                                    </table>
                                    <div class="buy_delever_btn">
                                        <div>배송준비중</div>
                                        <button class="buy_delever_review_btn">배송조회</button>
                                        <button class="buy_delever_review_btn">리뷰쓰기</button>
                                    </div>
                                </div><!--//buy_deleverymanage_list1-->
                            </div><!--//buy_delevery_product_content-->
                            <div class="buy_delevery_product_content">
                                <div class="buy_delevery_product_content_img">
                                    <img src="../../../image/복싱복.jpg">
                                </div>
                                <div class="buy_deleverymanage_list1">
                                    <table>
                                        <tr>
                                            <td>[아디다스] 복싱복</td>
                                        </tr>
                                        <tr>
                                            <td>60,000원 | 블루95(M) | 2개 </td>
                                        </tr>       
                                    </table>
                                    <div class="buy_delever_btn">
                                        <div>배송완료</div>
                                        <button class="buy_delever_review_btn">배송조회</button>
                                        <button class="buy_delever_review_btn">리뷰쓰기</button>
                                    </div>
                                </div><!--//buy_deleverymanage_list1-->
                            </div><!--//buy_delevery_product_content-->
                        </div><!--//list//-->
                        <div class="delivery_info_personal">
                            <div class="delivery_info_header">
                                <div class="head">배송정보</div>
                                <div class="content_delevery_num_line"></div>    
                            </div>
                            <div class="delivery_info_content">
                                <div class="delivery_info_content_title">
                                    <div>받는 분</div>
                                    <div>핸드폰</div>
                                    <div>주소</div>
                                </div>
                                <div class="delivery_info_content_title_re">
                                    <div>오늘은 맑음</div>
                                    <div>010-5568-7894</div>
                                    <div>(12345) 서울 강남구 무지개가피었로 123 빨주노초아파트 501호</div>
                                </div>
                            </div>    
                        </div><!--delivery_info_persondelevery_btnal-->
                    </div><!--//delivery_info-->
                    <div class="go_back">
                        <button class="go_back_btn">구매목록보기</button>
                    </div>
                </div><!--//content_product//-->
            </div><!--//middle//-->
        </div><!--//container//-->
    </div><!--//wrap//-->

</body>
</html>